{% extends 'base.html' %}

{% block content %}

<form action = " " method = "POST" enctype="multipart/form-data">
    <div class = "form-row">
        <div class = "col-sm-10 my-1">
    <label for="newStuff class = "sr-only">Add Building</label>
     <p>
        {{ form.building_name(class_ = "form-control", placeholder = "Building Name")}}
    </p>
        {{ form.address(class_ = "form-control", placeholder = "Address")}}
    </p>
    <p>
        {{ form.city(class_ = "form-control", placeholder = "City")}}
    </p>
        {{ form.province(class_ = "form-control", placeholder =  "Province")}}
    </p>
    <p>
        {{ form.postal_code(class_ = "form-control", placeholder = "Postal Code")}}
    </p>
        {{ form.square_footage(class_ = "form-control", placeholder = "Square Footage")}}
    </p>
    <p>
    {{ form.hidden_tag() }}
    {{ form.photo(multiple="multiple")}}
    <button type = 'submit' class ="btn btn-primary btn-block">Add</button>
         </div>
    </div>
</form>



{% endblock %}
