{% extends 'mobile_base2.html' %}
{% block content %}



<div class='page'>
    
    <h4>Current Plan</h4>
    <small> click on a plan to compare it to your plan.</small>
    <div id="rcorners">
        <div id='imgdiv'>
            <img src="{{url_for('static', filename='/mobileimages/fire.png')}}" alt="">
        </div>
        <div class="container"style="padding: 3px;">
            <div>

                <text style="float: left; text-align: left; vertical-align: text-top;" >Brand 234</text>
            
                <text style="float: right; text-align: right; vertical-align: text-top;"><b>$0.014/kWh</b></text>
                
            </div>
            <div style="clear: both;"></div>
            <div>
                <small style="float: left; text-align: left; vertical-align: text-top;" >2 year Guaranteed Rate</small>
            </div>
            <div style="clear: both;"></div>
            
        </div>
    </div>
    
    <br>
    <h4>Suggested Plans</h4>
    <form action="/m_menu/"> 
        <button class="btn btn-default" type="submit">
            <div id='imgdiv'>
                <img src="{{url_for('static', filename='/mobileimages/fire.png')}}" alt="">
            </div>
            <div class="container"style="padding: 3px;">
                <div>

                    <text style="float: left; text-align: left; vertical-align: text-top;" >Brand 234</text>
                
                    <text style="float: right; text-align: right; vertical-align: text-top;"><b>$0.014/kWh</b></text>
                    
                </div>
                <div style="clear: both;"></div>
                <div>
                    <small style="float: left; text-align: left; vertical-align: text-top;" >2 year Guaranteed Rate</small>
                </div>
                <div style="clear: both;"></div>
                
            </div>
        </button>
    </form>
    <form action="/m_menu/">
        <button class="btn btn-default" type="submit">
            <div id='imgdiv'>
                <img src="{{url_for('static', filename='/mobileimages/fire.png')}}" alt="">
            </div>
            <div class="container"style="padding: 3px;">
                <div>

                    <text style="float: left; text-align: left; vertical-align: text-top;" >Brand 234</text>
                
                    <text style="float: right; text-align: right; vertical-align: text-top;"><b>$0.014/kWh</b></text>
                    
                </div>
                <div style="clear: both;"></div>
                <div>
                    <small style="float: left; text-align: left; vertical-align: text-top;" >2 year Guaranteed Rate</small>
                </div>
                <div style="clear: both;"></div>
                
            </div>
        </button>
    </form>
    <br>
    <h4>others</h4>
    <form action="/m_menu/">
        <button class="btn btn-default" type="submit">
            <div id='imgdiv'>
                <img src="{{url_for('static', filename='/mobileimages/fire.png')}}" alt="">
            </div>
            <div class="container"style="padding: 3px;">
                <div>

                    <text style="float: left; text-align: left; vertical-align: text-top;" >Brand 234</text>
                
                    <text style="float: right; text-align: right; vertical-align: text-top;"><b>$0.014/kWh</b></text>
                    
                </div>
                <div style="clear: both;"></div>
                <div>
                    <small style="float: left; text-align: left; vertical-align: text-top;" >2 year Guaranteed Rate</small>
                </div>
                <div style="clear: both;"></div>
                
            </div>
        </button>
    </form>
    <form action="/m_menu/">
        <button class="btn btn-default" type="submit">
            <div id='imgdiv'>
                <img src="{{url_for('static', filename='/mobileimages/fire.png')}}" alt="">
            </div>
            <div class="container"style="padding: 3px;">
                <div>

                    <text style="float: left; text-align: left; vertical-align: text-top;" >Brand 234</text>
                
                    <text style="float: right; text-align: right; vertical-align: text-top;"><b>$0.014/kWh</b></text>
                    
                </div>
                <div style="clear: both;"></div>
                <div>
                    <small style="float: left; text-align: left; vertical-align: text-top;" >2 year Guaranteed Rate</small>
                </div>
                <div style="clear: both;"></div>
                
            </div>
        </button>
    </form>
    <form action="/m_menu/">
        <button class="btn btn-default" type="submit">
            <div id='imgdiv'>
                <img src="{{url_for('static', filename='/mobileimages/fire.png')}}" alt="">
            </div>
            <div class="container"style="padding: 3px;">
                <div>

                    <text style="float: left; text-align: left; vertical-align: text-top;" >Brand 234</text>
                
                    <text style="float: right; text-align: right; vertical-align: text-top;"><b>$0.014/kWh</b></text>
                    
                </div>
                <div style="clear: both;"></div>
                <div>
                    <small style="float: left; text-align: left; vertical-align: text-top;" >2 year Guaranteed Rate</small>
                </div>
                <div style="clear: both;"></div>
                
            </div>
        </button>
    </form>


</div>

{% endblock content %} 