{% extends 'mobile_base2.html' %}
{% block content %}



<div class='page'>
    <span class='page__name'>Gas Upgrades</span>
    
    <span class="page__hint">these charts show where how pieces of your gas infustructor will make you more efficient</span>
    <br>
      <div style="visibility: hidden; position: absolute; width: 0px; height: 0px;">
        <svg xmlns="http://www.w3.org/2000/svg">
          <symbol viewBox="0 0 24 24" id="expand-more">
            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/>
          </symbol>
          <symbol viewBox="0 0 24 24" id="close">
            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/>
          </symbol>
        </svg>
      </div>
      <details>
        <summary>
          <img src="{{url_for('static', filename='/mobileimages/fire.png')}}" width=auto height='auto'  alt="">
          <text>Furance </text>
          <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
          <svg class="control-icon control-icon-close" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
        </summary>
              <div class="box">
                  <div class="graph">
                      
                      <div class="m"style="height: {{ gas_upgrades[0] }}%; left: 1%;"></div>
                      <div class="m"style="height: {{ gas_upgrades[2] }}%; left: 15.3846153846%;"></div>
                      <div class="m"style="height: {{ gas_upgrades[1] }}%; left: 7.69230769231%;"></div>
                      <div class="m"style="height: {{ gas_upgrades[3] }}%; left: 23.07692308%;"></div>
                      <div class="m"style="height: {{ gas_upgrades[4] }}%; left: 30.76923077%;"></div>
                      <div class="m"style="height: {{ gas_upgrades[5] }}%; left: 38.46153846%;"></div>
                      <div class="m"style="height: {{ gas_upgrades[6] }}%; left: 46.15384615%;"></div>
                      <div class="m"style="height: {{ gas_upgrades[7] }}%; left: 53.84615384%;"></div>
                      <div class="m"style="height: {{ gas_upgrades[8] }}%; left: 61.53846153%;"></div>
                      <div class="m"style="height: {{ gas_upgrades[9] }}%; left: 69.23076922%;"></div>
                      <div class="m"style="height: {{ gas_upgrades[10] }}%; left: 76.92307691%;"></div>
                      <div class="m"style="height: {{ gas_upgrades[11] }}%; left: 84.6153846%;"></div>
                      <div class="m"style="height: {{ gas_upgrades[12] }}%; left: 92.30769229%;"></div>
  
                      <div class="av-text"style="height: {{ potential_gas[0] + 25}}%; left: {{ potential_gas[1] - 8 }}%;">Potential</div>
                      <div class="av"style="height: {{ potential_gas[0] }}%; left: {{ potential_gas[1] }}%"></div>
                      
                      <div class="yu"style="height: {{ user_gas[0] }}%; left: {{ user_gas[1] - 4 }}%;"></div>
                      <div class="yu-text"style="height: {{ user_gas[0] + 18}}%; left: {{ user_gas[1] - 3 }}%;">You</div>
                  </div>
              </div>
              <a class="btn-color" style="margin-top: 13px; width: auto;" href="/m_furnace_comparison/">compare your furnace against others.</a>
              
       
      </details>
         
      <details>
      
        <summary>
          <img src="{{url_for('static', filename='/mobileimages/house.png')}}" width=auto height='auto' alt=""> 
          <text>Smart Thermostat </text>
          <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
          <svg class="control-icon control-icon-close" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
          
        </summary>
              <div class="box">  
              <div class="graph">
                  
                  <div class="m"style="height: {{ envelope_upgrades[0] }}%; left: 1%;"></div>
                  <div class="m"style="height: {{ envelope_upgrades[1] }}%; left: 7.69230769231%;"></div>
                  <div class="m"style="height: {{ envelope_upgrades[2] }}%; left: 15.3846153846%;"></div>
                  <div class="m"style="height: {{ envelope_upgrades[3] }}%; left: 23.07692308%;"></div>
                  <div class="m"style="height: {{ envelope_upgrades[4] }}%; left: 30.76923077%;"></div>
                  <div class="m"style="height: {{ envelope_upgrades[5] }}%; left: 38.46153846%;"></div>
                  <div class="m"style="height: {{ envelope_upgrades[6] }}%; left: 46.15384615%;"></div>
                  <div class="m"style="height: {{ envelope_upgrades[7] }}%; left: 53.84615384%;"></div>
                  <div class="m"style="height: {{ envelope_upgrades[8] }}%; left: 61.53846153%;"></div>
                  <div class="m"style="height: {{ envelope_upgrades[9] }}%; left: 69.23076922%;"></div>
                  <div class="m"style="height: {{ envelope_upgrades[10] }}%; left: 76.92307691%;"></div>
                  <div class="m"style="height: {{ envelope_upgrades[11] }}%; left: 84.6153846%;"></div>
                  <div class="m"style="height: {{ envelope_upgrades[12] }}%; left: 92.30769229%;"></div>
  
                  <div class="av-text"style="height: {{ potential_envelope[0] + 25}}%; left: {{ potential_envelope[1] - 8 }}%;">Potential</div>
                  <div class="yu"style="height: {{ user_envelope[0] }}%; left: {{ user_envelope[1] }}%;"></div>
  
                  <div class="av"style="height: {{ potential_envelope[0] }}%; left: {{ potential_envelope[1] }}%"></div>
                  <div class="yu-text"style="height: {{ user_envelope[0] + 18}}%; left: {{ user_envelope[1] -3 }}%;">You</div>
              </div>
          </div>
          <a class="btn-color" style="margin-top: 13px; width: auto;" href="/m_smartthermostat_comparison/">Compare thermostat upgrades</a>
      </details>
      
  
</div> 

{% endblock content %} 