    <p>
        {{ form.cooling_capacity(class_ = "form-control", placeholder="Cooling Capacity")}}
    </p>

	<p>
        {{ form.cooling_coil_type(class_ = "form-control", placeholder="Cooling Coil Type")}}
    </p>

	<p>
        {{ form.compressor_type(class_ = "form-control", placeholder="Compressor Type")}}
    </p>
    <p>
        {{ form.heating_capacity(class_ = "form-control", placeholder="Heating Capacity")}}
    </p>
     <p>
        {{ form.heating_coil_type(class_ = "form-control", placeholder="Heating Coil Type")}}
    </p>
    <p>
        {{ form.heating_eff(class_ = "form-control", placeholder="Heating Efficiency")}}
    </p>
