{% extends 'base.html' %}

{% block content %}
	<div class="container-fluid" id="grad1">
    	<div class="row justify-content-center mt-0">
      		<div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
        		<div class="card px-0 pt-4 pb-0 mt-3 mb-3">
          			<h2><strong>Street Map of {{current_user.first_name}} {{current_user.last_name}}</strong></h2>
          			<div class="row">
            			<div class="col-md-12 mx-0"> 
							<div id="map" data-latitude="{{customer.latitude}}" data-longitude="{{customer.longitude}}"></div>
							<div id="pano"></div>  
          				</div>
       		 		</div>
      			</div>
    		</div>
  		</div>
	</div>

{% endblock content %}


{% block scripts %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAF-BhgAB-WyhjAjxsk9DLkn2fiH-ri-3o&callback=initialize&libraries=&v=weekly" defer></script>
	<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}?u={{ last_updated }}"></script>
{% endblock scripts %}
	