    <p>
        {{ form.condition(class_ = "form-control", placeholder="Condition")}}
    </p>
     <p>
        {{ form.horsepower(class_ = "form-control", placeholder="Horsepower")}}
    </p>
    <p>
        {{ form.rpm(class_ = "form-control", placeholder="RPM")}}
    </p>
     <p>
        {{ form.effciency(class_ = "form-control", placeholder="Effciency")}}
    </p>
    <p>
        {{ form.volts(class_ = "form-control", placeholder="Volts")}}
    </p>
     <p>
        {{ form.bhp(class_ = "form-control", placeholder="BHP")}}
    </p>
    <p>
        {{ form.frame(class_ = "form-control", placeholder="Frame")}}
    </p>
     <p>
        {{ form.fla(class_ = "form-control", placeholder="FLA")}}
    </p>
    <p>
        {{ form.cfm(class_ = "form-control", placeholder="CFM")}}
    </p>
     <p>
        {{ form.phase(class_ = "form-control", placeholder="Phase")}}
    </p>
