	 <p>
        {{ form.input_capacity(class_ = "form-control", placeholder="Heating Input")}}
    </p>
    <p>
        {{ form.output_capacity(class_ = "form-control", placeholder="Output Capacity")}}
    </p>
    <p>
        {{ form.heating_eff(class_ = "form-control", placeholder="Heating Efficiency")}}
    </p>
    <p>
        {{ form.boiler_type(class_ = "form-control", placeholder="Type")}}
    </p>
    <p>
        {{ form.pressure(class_ = "form-control", placeholder="Pressure")}}
    </p>
