{% extends 'base.html' %}

{% block content %}
<!-- MultiStep Form -->
<div class="container-fluid" id="grad1">
    <div class="row justify-content-center mt-0">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2><strong>Benchmark Your Home {{current_user.first_name}} {{current_user.last_name}}</strong></h2>
                <p>We just need a few bits of information</p>
                <div class="row">
                    <div class="col-md-12 mx-0">
                        {% for field, errors in form.errors.items() %}
                        <div class="alert alert-error">
                          {{ form[field].label }}: {{ ', '.join(errors) }}
                        </div>
                        {% endfor %}
                        <form id="msform" method = "POST" form = form1 enctype="multipart/form-data">
                            {{ form.csrf_token }}
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="account"><strong>Your Information</strong></li>
                                <li id="personal"><strong>Home Info</strong></li>
                                <li id="payment"><strong>Home Info</strong></li>
                                <li id="confirm"><strong>Home Info</strong></li>
                            </ul> <!-- fieldsets -->
                            <fieldset data-name="Phone">
                                <div class="form-card">
                                    <h2 class="fs-title">Your Information</h2>
                                    <input type="phone_number" name="phone_number" placeholder="Phone Number" required />
                                </div> <input type="button" name="next" class="next action-button" value="Next Step" />
                            </fieldset>
                            <fieldset data-name="House">
                                <div class="form-card">
                                    <h2 class="fs-title">Home Information</h2>
                                    <small>Provide as much information as you can, to help us give you an accurate benchmark.</small>
                                    <input type="text" name="home_age" placeholder="What year was your home built?" required />
                                    <input type="text" name="square_footage" placeholder="How many square feet is your home?" required/>
                                    <input type="text" name="occupants" placeholder="How many people live in your home?" required/>
                                    <input type="text" name="hours" placeholder="How many hours per day are you at home?" required/>
                                </div> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                <input type="button" name="next" class="next action-button" value="Next Step" />
                            </fieldset>
                            <fieldset data-name="Garage">
                                <div class="form-card">
                                    <h2 class="fs-title">Do you have a garage?</h2>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                  <label class="btn btn-secondary active">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked required> Attatched Garage
                                  </label>
                                  <label class="btn btn-secondary">
                                    <input type="radio" name="options" id="option2" autocomplete="off" required> Detatched Garage
                                  </label>
                                  <label class="btn btn-secondary">
                                    <input type="radio" name="options" id="option3" autocomplete="off" required> No Garage
                                  </label>
                                </div>
                                <br>
                                    <h2 class="fs-title">Is your Garage Heated?</h2>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                  <label class="btn btn-secondary active">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked required> Yes
                                  </label>
                                  <label class="btn btn-secondary">
                                    <input type="radio" name="options" id="option2" autocomplete="off" required> No
                                  </label>
                                </div>


                                </div> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                <input type="button" name="next" class="next action-button" value="Next Step" />
                            </fieldset>
                            <fieldset data-name="Success">
                                <div class="form-card">
                                    <h2 class="fs-title text-center">Success !</h2> <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-3"> <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image"> </div>
                                    </div> 
                                    <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-7 text-center">
                                            <h5>Thank You</h5>
                                        </div>
                                        <input type="submit" value="submit">
                                    </div>
                                </div>
                            </fieldset>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>

{% endblock %}
