{% extends 'base.html' %}

{% block content %}
<div class="container-fluid" id="grad1">
    <div class="row justify-content-center mt-0">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">

                <h2><strong>Pollen One</strong></h2>
                <div class="row">
                    <div class="col-md-12 mx-0">
						<form id="msform" method = "POST" form = form1 enctype="multipart/form-data">
                            <fieldset data-name="Electrical" class="form-group">
                                <div class="form-card">
                                    <center><h3>Upload your Electrical Bill</h3></center>
                                    <div class="form-group">
										<input type="file" name="electrical_photo_bill" ><br>
                                    </div>
                                    <input type="submit" value="Submit">    
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock content %}