{% extends 'base.html' %}
{% block content %}
	<div class="container-fluid" id="grad1">
    	<div class="row justify-content-center mt-0">
      		<div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
        		<div class="card px-0 pt-4 pb-0 mt-3 mb-3">
          			<h2><strong>Update Account</strong></h2>
          				<div class="row">
            				<div class="col-md-12 mx-0">
              					{% for field, errors in form.errors.items() %}
              						<div class="alert alert-error">
                						{{ form[field].label }}: {{ ', '.join(errors) }}
              						</div>
              					{% endfor %}
              					<form id="msform" method="POST" form="form1" enctype="multipart/form-data">
									{{ form.csrf_token }}

                					<!-- progressbar -->
                  					<!-- fieldsets -->
                					<fieldset>
                  						<div class="form-card">
                    						<h2 class="fs-title">Your Information</h2>
                                <div class="form-group">
                                  <label for="email">Email</label>
											{{form.email(id='email',class='form-control')}}
                      </div>
                      <div class="form-group">
                        <label for="password">Enter your current passord</label>
											<input class="form-control" type="password" id='password' name="current_password" placeholder=""/>
                    </div>
                      <div class="form-group">
                        <label for="new_password">Enter your new password</label>
                    						<input class="form-control" type="password" id="new_pasword" name="new_password" placeholder="" />
                              </div>
                                <div class="form-group">
                                  <label for="confirm_password">Confirm your password</label>
											<input class="form-control" type="password" id="confirm_password" name="confirm_password" placeholder=""/>
                    </div>
                      <div class="form-group">
											<input class="btn btn-primary" type="submit" value="Update"/>
                    </div>

										  </div>
              						</fieldset>
            					</form>
          					</div>
        				</div>
      				</div>
    			</div>
  			</div>
		</div>
	</div>
{% endblock content %}

