<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/add-chiller.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styleguide.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/globals.css')}}" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="add-chiller" />
    <div class="container-center-horizontal">
    <form action = " " method = "POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
      <div class="add-chiller screen">
        <div class="add-chiller-C61RwL">Add Company</div>
        <div class="group-6900-C61RwL">
          <img class="vector-88-lrkHPC" src="img/vector-88@2x.svg" />
          <img class="vector-90-lrkHPC" src="img/vector-88@2x.svg" />
          <img class="vector-89-lrkHPC" src="img/vector-89@2x.svg" />
        </div>
          <div class="group-6899-C61RwL">
          <div>{{ form.company( class="rectangle-2345-Mz8XNq border-1px-mystic")}}</div>
        </div>
        <div class="group-6908-C61RwL">
          <div>{{ form.first_name( class="rectangle-2345-VgvpeY border-1px-mystic")}}</div>
        </div>
        <div class="group-6909-C61RwL">
          <div>{{ form.last_name( class="rectangle-2345-ilCFrg border-1px-mystic")}}</div>
        </div>
        <div class="group-6901-C61RwL">
          <div>{{ form.address( class="rectangle-2345-eJPJAb border-1px-mystic")}}</div>
        </div>
        <div class="group-7221-C61RwL">
          <div>{{ form.province( class="rectangle-2345-tbO93q border-1px-mystic")}}</div>
        </div>
        <div class="group-7224-C61RwL">
          <div>{{ form.postal_code( class="rectangle-2345-PRTlyn border-1px-mystic")}}</div>
        </div>
        <div class="group-6910-C61RwL">
          <div>{{ form.email(class="rectangle-2345-Z05HMs border-1px-mystic")}}</div>
        </div>
        <div class="manufacturer-C61RwL coresansc-65-bold-cerulean-frost-11px">Company</div>
        <div class="model-number-C61RwL coresansc-65-bold-cerulean-frost-11px">First Name</div>
        <div class="serial-number-C61RwL coresansc-65-bold-cerulean-frost-11px">Last Name</div>
        <div class="year-number-C61RwL coresansc-65-bold-cerulean-frost-11px">Address</div>
        <div class="refridgerant-C61RwL coresansc-65-bold-cerulean-frost-11px">Province</div>
        <div class="compressor-type-C61RwL coresansc-65-bold-cerulean-frost-11px">Postal Code</div>
        <div class="cooling-capacity-C61RwL coresansc-65-bold-cerulean-frost-11px">Email</div>
        <div class="group-7193-C61RwL">
          <img class="vector-LA17xu" src="img/vector@2x.svg" />
          <img class="vector-TBtSab" src="img/vector-1@2x.svg" />
        </div>
        <div class="group-7192-C61RwL">
          <button type = 'submit'  class="rectangle-2755-9xz0lo"></button>
          <div class="add-9xz0lo">Add</div>
        </div>
        <a href = "{{url_for('commercial.clients')}}"><div class="group-7196-C61RwL">
          <div class="rectangle-2755-WjY3xc"></div>
          <div class="cancel-WjY3xc">Cancel</div>
        </div></a>
        <div class="rectangle-2806-C61RwL border-1px-mystic"><img id ='output1' width='314' height='132'></div>
        <div class="group-7219-C61RwL">

          <label for='chiller_photo' class="rectangle-2755-83XzNc"><input type="file" style='display: none;' accept="image/*" capture="user"  id='chiller_photo' onchange="loadFile1(event);" required class="btn btn-default btn-lg button" style="border:none"
            name="chiller_photo"></label>
          <label for='chiller_photo' class="add-photo-83XzNc">Add Logo</label>
        </div>
        <div class="group-7220-C61RwL">
          <div class="rectangle-2807-KSWG3U"></div>
          <div class="view-photos-KSWG3U">View Photos</div>

        </div>
        <div class="layer-1-C61RwL">
        </div>
      </div>
    </div>
</form>
  </body>
</html>
<script>
  var loadFile1 = function(event){
    var image = document.getElementById('output1');
    image.src = URL.createObjectURL(event.target.files[0]);
    };
  </script>