<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/add-heat-pump.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styleguide.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/globals.css')}}" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="add-heat-pump" />
    <div class="container-center-horizontal">
    <form action = " " method = "POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

      <div class="add-heat-pump screen">
        <div class="add-heat-pump-C61RwL">Add Light</div>
        <img class="vector-88-C61RwL" src="img/vector-88@2x.svg" />
        <img class="vector-90-C61RwL" src="img/vector-88@2x.svg" />
        <img class="vector-89-C61RwL" src="img/vector-89@2x.svg" />
        <div >{{ form.fixtures(class="rectangle-2345-C61RwL border-1px-mystic")}}</div>
        <div>{{ form.hours( class="rectangle-2345-VMr6Om border-1px-mystic")}}</div>
        <div>{{ form.fixture_type( class="rectangle-2345-mzXdH9 border-1px-mystic")}}</div>
        <div >{{ form.lamp_type(class="rectangle-2345-QxM5SU border-1px-mystic")}}</div>
        <div>{{ form.wattage( class="rectangle-2345-2P4qUJ border-1px-mystic")}}</div>
        <div >{{ form.lamp_count(class="rectangle-2345-qr8e7q border-1px-mystic")}}</div>
        <div class="manufacturer-C61RwL coresansc-65-bold-cerulean-frost-11px">Number of Fixtures</div>
        <div class="model-number-C61RwL coresansc-65-bold-cerulean-frost-11px">Hours</div>
        <div class="serial-number-C61RwL coresansc-65-bold-cerulean-frost-11px">Fixture Type</div>
        <div class="year-number-C61RwL coresansc-65-bold-cerulean-frost-11px">Lamp Type</div>
        <div class="heating-input-C61RwL coresansc-65-bold-cerulean-frost-11px">Wattage</div>
        <div class="fuel-type-C61RwL coresansc-65-bold-cerulean-frost-11px">Lamp Count</div>
        <button type = 'submit'  class="rectangle-2755-C61RwL"></button>
        <div class="add-C61RwL">Add</div>
        <div class="group-7196-C61RwL">
          <a href= '{{url_for("commercial.lightindex", id = area.id)}}'><div class="rectangle-2755-WjY3xc"></div></a>
          <a href= '{{url_for("commercial.lightindex", id = area.id)}}'><div class="cancel-WjY3xc">Cancel</div></a>
        </div>
        <div class="rectangle-2806-C61RwL border-1px-mystic"><img id ='output1' width='314' height='130'></div>
         <label for='building_photo' class="rectangle-2755-VMr6Om"><input type="file" style='display: none;' accept="image/*" capture="user"  id='building_photo' onchange="loadFile1(event);" required class="btn btn-default btn-lg button" style="border:none"
            name="building_photo"></label>
          <label for='building_photo' class="add-photo-C61RwL">Add Photo</label>
        <div class="rectangle-2807-C61RwL"></div>
        <div class="view-photos-C61RwL">View Photos</div>
      </div>
    </div>
    </form>
  </body>
</html>
<script>
  var loadFile1 = function(event){
    var image = document.getElementById('output1');
    image.src = URL.createObjectURL(event.target.files[0]);
    };
  </script>