<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" > -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/chart.css')}}">
    <title>chart</title>
</head>
<body>
  
  <div class="content" id="chart">
    
  </div>
  <script type="text/javascript" src="{{url_for('static',filename='scripts/weather_data.json')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='scripts/chart.js')}}"></script>
</body>
</html>