<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/mobile.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styleguide.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/globals.css')}}" />
        <script src="https://cdn.jsdelivr.net/npm/apexcharts" type="text/javascript"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <link rel="manifest" href="manifest.json">
    <!-- ios support -->
    <link rel="apple-touch-icon" href="images/icons/icon-72x72.png">
    <link rel="apple-touch-icon" href="images/icons/icon-96x96.png">
    <link rel="apple-touch-icon" href="images/icons/icon-128x128.png">
    <link rel="apple-touch-icon" href="images/icons/icon-144x144.png">
    <link rel="apple-touch-icon" href="images/icons/icon-152x152.png">
    <link rel="apple-touch-icon" href="images/icons/icon-192x192.png">
    <link rel="apple-touch-icon" href="images/icons/icon-384x384.png">
    <link rel="apple-touch-icon" href="images/icons/icon-512x512.png">
    <meta name="apple-mobile-web-app-status-bar" content="#db4938">
    <meta name="theme-color" content="#db4938">
    <title>Opti -mized</title>
  </head>
  <body onload = 'getTotal(); createBarChart("energy");' style = 'overflow: hidden;'>
    <main style = 'overflow: hidden;'>
        <div class="offerBar">
            {{buidling_description}}
        </div>
     
        <div class="titleSpc">
            <h2>Past-Use</h2>
          </div>
           
        
          
     
      <div class="container">

       

        <div class="topBlock">
          
        </div>

    

        <div class="total-block">    
          <div class="total-box"><span>$</span><span class="totalwhole" id = 'totalprice-whole'>>12</span><span class="decimal-span" id="totalprice-decimal">.82</span><div class="total-box-line">Costs</div></div>

          <div class="total-box"><span class="totalwhole" id = 'total-whole'>13</span><span class="decimal-span" id="total-decimal">.44</span><span class="kwh-total">kWh</span><div class="total-box-line">Usage</div></div>

          <div class="total-box"><span class="totalwhole" id = 'emission-whole'>6</span><span class="decimal-span" id="emission-decimal">.09</span><span class="kwh-total">kg/CO2</span><div class="total-box-line">Emissions</div>
                <div class="overlay">
                    <form onsubmit="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="group-7286-L7BXHD" style="color: #3044A5; width: 90%; border-radius: 8px; height: 100%; padding-top: 5px; margin-left: auto; margin-right: auto; margin-bottom: 10px; background-color: transparent;">
           
            <article class="date-carousel" style="color: #3044A5; font-weight: 700">
                <button class="prev-day btn btn-outline-secondary" style="color: #3044A5; font-weight: 700"><i class="fa fa-angle-left" aria-hidden='true'></i></button>
                <input onchange= "submit();" type='textarea' id='datepicker' name='datepicker' style="background-color: transparent;border-color: transparent;  font-weight: 700; width: 90%; height: 150%;" cols = '2' rows = '5'>
                <button class='next-day btn btn-outline-secondary' style="color: #3044A5; font-weight: 700"><i class='fa fa-angle-right' aria-hidden='true'></i></button>
            </article>
          </div>
        </form> 
                </div>
            </div>
        </div>


        
        <div class="chart-figma">
      <div class="chart-figma__container">
        <div class="chart-xaxis">
          <div class="morning" id = morning>
              <p class="title">12 am</p>
              <svg class="icon-svg-day" width="18" height="18" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.9999 10.79C18.8426 12.4922 18.2038 14.1144 17.1581 15.4668C16.1125 16.8192 14.7034 17.8458 13.0956 18.4265C11.4878 19.0073 9.74789 19.1181 8.0794 18.7461C6.41092 18.3741 4.8829 17.5345 3.67413 16.3258C2.46536 15.117 1.62584 13.589 1.25381 11.9205C0.881777 10.252 0.992617 8.51208 1.57336 6.9043C2.15411 5.29651 3.18073 3.88737 4.53311 2.84175C5.8855 1.79614 7.5077 1.15731 9.2099 1C8.21331 2.34827 7.73375 4.00945 7.85843 5.68141C7.98312 7.35338 8.70376 8.92506 9.8893 10.1106C11.0748 11.2961 12.6465 12.0168 14.3185 12.1415C15.9905 12.2662 17.6516 11.7866 18.9999 10.79V10.79Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                
          </div>
          <div class="afternoon" id = afternoon>
            <p class="title">noon</p>
            <svg class="icon-svg-day" width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 1V3" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 21V23" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4.21973 4.21997L5.63973 5.63997" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.3604 18.36L19.7804 19.78" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1 12H3" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M21 12H23" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4.21973 19.78L5.63973 18.36" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.3604 5.63997L19.7804 4.21997" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                
          </div>
          <div class="night" id = night>
            <p class="title">12 am</p>
            <svg class="icon-svg-day" width="18" height="18" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.9999 10.79C18.8426 12.4922 18.2038 14.1144 17.1581 15.4668C16.1125 16.8192 14.7034 17.8458 13.0956 18.4265C11.4878 19.0073 9.74789 19.1181 8.0794 18.7461C6.41092 18.3741 4.8829 17.5345 3.67413 16.3258C2.46536 15.117 1.62584 13.589 1.25381 11.9205C0.881777 10.252 0.992617 8.51208 1.57336 6.9043C2.15411 5.29651 3.18073 3.88737 4.53311 2.84175C5.8855 1.79614 7.5077 1.15731 9.2099 1C8.21331 2.34827 7.73375 4.00945 7.85843 5.68141C7.98312 7.35338 8.70376 8.92506 9.8893 10.1106C11.0748 11.2961 12.6465 12.0168 14.3185 12.1415C15.9905 12.2662 17.6516 11.7866 18.9999 10.79V10.79Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
          </div>
        </div>
      </div>
    </div>
<script src="{{url_for('static',filename='scripts/code.js', version= correctdate)}}"></script>

        <div class="lightgrey">

        </div>

        <div class="card">
           <div class="card-body" style = 'height: 40vh;'>
              {% for i in range(0,panel_names|length) %}
             <div class="blockRw" style="overflow: scroll;">
              
                <div class="white-row align-items-center blockRW-wrapper" onclick = 'toggleCircuits("{{panel_name_ids[i]}}")'>
                    <div class="col" style = 'width: 100px;'>
                        <div class="greySquare"><div class="circle greenbg"></div></div> {{panel_names[i]}}
                    </div>
                    <div class="col">
                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 8L12 2L10.59 0.59L6 5.17L1.41 0.589999L5.24537e-07 2L6 8Z" fill="#0D1758"/>
                        </svg>
                    </div>
                    <div class="col">
                       <div class="watt">Disconnected</div>
                    </div>
                    <div class="blockRw-foot">
                        <div class="blockRw-footRw">
                            <div class="col">
                                Total Usage
                            </div>
                            <div class="col">
                            Disconnected
                            </div>
                            <div class="col">
                                
                            </div>
                         </div>
                    </div>
                </div>
                {% for k in range(0, circuit_name_groups[i] | length) %}
                    <div class="moreInfo {{panel_name_ids[i]}}">
                        <div class="white-row" >
                           <div class="col">
                               <div class="circle {{circuit_category_groups[i][k]}}"></div>{{circuit_name_groups[i][k]}}
                           </div>
                           
                           <div class="col disc">
                               Disconnected
                           </div>
                           <div class="col">
                             
                           </div>
                        </div>
                
                   
                </div>
                {% endfor %}
                </div>
              {% endfor %}

           </div>
        </div>

      </div>
      <footer>
        <ul class="footerLinks">
           
            <li>
               <a href="{{url_for('commercial.facilityoverview', building_id=building_id)}}">
                <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.5 1L11.5 9.5L7.5 5L1.5 11" stroke="#AFB8CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span>Live Usage</span>
              </a>
            </li>
            <li>
              <a href="#" class="active">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.9998 1.00024V5.00024M10.9998 17.0001V21.0001M3.93004 3.92993L6.76004 6.75993M15.2403 15.2402L18.0703 18.0702M0.999512 11.0001H4.99951M16.9998 11.0001H20.9998M3.93004 18.0702L6.76004 15.2402M15.2403 6.75993L18.0703 3.92993" stroke="#AFB8CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span>Past Use</span>
              </a>
           </li>
             <li>
              <a href="#">
                <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 17V15.5H2.1V7.85C2.1 6.48333 2.5125 5.24583 3.3375 4.1375C4.1625 3.02917 5.25 2.33333 6.6 2.05V1.325C6.6 0.941667 6.7375 0.625 7.0125 0.375C7.2875 0.125 7.61667 0 8 0C8.38333 0 8.7125 0.125 8.9875 0.375C9.2625 0.625 9.4 0.941667 9.4 1.325V2.05C10.75 2.33333 11.8417 3.02917 12.675 4.1375C13.5083 5.24583 13.925 6.48333 13.925 7.85V15.5H16V17H0ZM8 20C7.46667 20 7 19.8042 6.6 19.4125C6.2 19.0208 6 18.55 6 18H10C10 18.55 9.80417 19.0208 9.4125 19.4125C9.02083 19.8042 8.55 20 8 20ZM3.6 15.5H12.425V7.85C12.425 6.6 12.0042 5.54583 11.1625 4.6875C10.3208 3.82917 9.275 3.4 8.025 3.4C6.79167 3.4 5.74583 3.82917 4.8875 4.6875C4.02917 5.54583 3.6 6.6 3.6 7.85V15.5Z" fill="#AFB8CC"/>
                </svg>
               <span> Alerts</span>
              </a>  
            </li>
            <li>
              <a href="{{url_for('commercial.switchfacilities')}}"> 
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.25 19.25V13.525H14.75V16.75C15.8167 15.8833 16.6667 14.8667 17.3 13.7C17.9333 12.5333 18.25 11.3 18.25 9.99999C18.25 7.79999 17.5833 5.92082 16.25 4.36249C14.9167 2.80415 13.25 1.87499 11.25 1.57499V0.0499878C13.6833 0.349988 15.7083 1.42499 17.325 3.27499C18.9417 5.12499 19.75 7.36665 19.75 9.99999C19.75 11.4667 19.4042 12.8667 18.7125 14.2C18.0208 15.5333 17.0917 16.7167 15.925 17.75H18.975V19.25H13.25ZM8.75 19.95C7.55 19.8 6.42917 19.4417 5.3875 18.875C4.34583 18.3083 3.44583 17.5875 2.6875 16.7125C1.92917 15.8375 1.33333 14.8292 0.9 13.6875C0.466667 12.5458 0.25 11.3167 0.25 9.99999C0.25 8.53332 0.595833 7.13332 1.2875 5.79999C1.97917 4.46665 2.90833 3.28332 4.075 2.24999H1.025V0.749988H6.75V6.47499H5.25V3.24999C4.18333 4.09999 3.33333 5.11249 2.7 6.28749C2.06667 7.46249 1.75 8.69999 1.75 9.99999C1.75 12.2 2.41667 14.0792 3.75 15.6375C5.08333 17.1958 6.75 18.125 8.75 18.425V19.95Z" fill="#AFB8CC"/>
                </svg>
                <span>Switch Facilities</span>
              </a>
            </li>
        </ul>
    </footer>
    </main>
<script>
        function array(newarray){
        return newarray;
    }
      function createChart(name, number, panel, category, percent){
        var data = {{schedule | tojson}};
        var panelnames = {{panelnames | tojson}};
        var paneltotals = {{panelchart | tojson}};
        var predicted_line = {{predicted_line | safe}};
        var last_week_cd = {{last_week_cd | safe}};
        var current_last_week = last_week_cd[name];
        console.log(last_week_cd)
        console.log(current_last_week)
        var monday = current_last_week[0];
        var tuesday = current_last_week[1];
        var wednesday = current_last_week[2];
        var thursday = current_last_week[3];
        var friday = current_last_week[4];
        var saturday = current_last_week[5];
        var sunday = current_last_week[6];
        var last_week_data =  [];
        var current_line = predicted_line[name];
        var current_line_data = current_line['week_line'];
        var current_line_error = current_line['Error'];
        var current_line_sum = 0;
        var string = data[number];
        string = string.replace('[', '')
        string = string.replace(']', '')
        var datalist = string.split(",");
        chart5.updateSeries([{ 
            name: name,
            data: datalist,
        } 
        ]); 

        last_week_data = Object.values(monday[0]);
        last_week_data = last_week_data.concat(tuesday[0])
        last_week_data = last_week_data.concat(wednesday[0])
        last_week_data = last_week_data.concat(thursday[0])
        last_week_data = last_week_data.concat(friday[0])
        last_week_data = last_week_data.concat(saturday[0])
        last_week_data = last_week_data.concat(sunday[0])
        chart01.updateSeries([
        { 
            name: 'Predicted',
            data: current_line_data,
        },
        {   
            name: 'Last Weeks Usage',
            data: last_week_data,
        }, 
        ]); 
        chart0.updateSeries(100 - current_line_error, current_line_error);
        var sum = 0;
        var runtime = 0;
        for(var i = 0; i < datalist.length; i++){
            sum += (parseFloat(datalist[i]) / 1000);
            if(datalist[i] != 0){
                runtime += 1;
            }
        }
        for(var p = 0; p < current_line_data.length; p++){
            current_line_sum += current_line_data[p]
        }
        sum = Math.round(sum * 100) / 100;
        cost = sum * 0.09;
        cost = Math.round(cost * 100) / 100;
        sumSplit = String(sum).split('.')
        costSplit = String(cost).split('.')
        emission = (sum * 0.82).toFixed(2);
        emissionSplit = String(emission).split('.')
        var totallevyspent = ((((sum * 0.82) * 30) * 365)/1000) + ((((sum * 0.82) * 40) * 365)/1000) +((((sum * 0.82) * 50) * 365)/1000) +((((sum * 0.82) * 65) * 365)/1000) +((((sum * 0.82) * 80) * 365)/1000) +((((sum * 0.82) * 95) * 365)/1000) +((((sum * 0.82) * 110) * 365)/1000) +((((sum * 0.82) * 125) * 365)/1000) +((((sum * 0.82) * 140) * 365)/1000) +((((sum * 0.82) * 155) * 365)/1000) +((((sum * 0.82) * 170) * 365)/1000)
        if(emissionSplit[1] == undefined){
            emissionSplit[1] = '00'
          }
          if(sumSplit[1] == undefined){
            sumSplit[1] = '00'
          }
          if(costSplit[1] == undefined){
            costSplit[1] = '00'
          }
        document.getElementById("circuitemission-whole").innerHTML = Math.abs(emissionSplit[0]);
        document.getElementById("circuitemission-decimal").innerHTML = '.' + Math.abs(emissionSplit[1]);
        document.getElementById('circuit-block').style.width = '744px';
        document.getElementById('load-predict').style.width = '0px';
        document.getElementById("circuit-title").innerHTML = name;
        document.getElementById("overview-title").innerHTML = name;
        document.getElementById("load-title").innerHTML = name;
        document.getElementById("levy-title").innerHTML = name;
        document.getElementById('circuit-block').style.border = 'border: 2px solid #E3E7ED';
        document.getElementById('circuit-whole').textContent = sumSplit[0];
        document.getElementById('circuit-decimal').textContent = '.' + sumSplit[1];
        document.getElementById('cost-whole').textContent = costSplit[0];
        document.getElementById('cost-decimal').textContent = '.' + costSplit[1];
        document.getElementById("general-info-category").innerHTML = category;
        document.getElementById("general-info-panel").innerHTML = panel;
        document.getElementById("on-hours-circuit").innerHTML = {{timeloads.iloc[0][1]}} + '%';
        document.getElementById("off-hours-circuit").innerHTML = {{timeloads.iloc[1][1]}} + '%';
        document.getElementById('time-on-circle').style.backgroundColor = '{{timeloads.iloc[0][2]}}';
        document.getElementById('time-off-circle').style.backgroundColor = '{{timeloads.iloc[1][2]}}';
        document.getElementById("run-times-time").innerHTML = runtime + 'h';
        document.getElementById("monthly-avg-kwh").innerHTML = (sum * 30).toFixed(2) + ' kWh';
        document.getElementById("monthly-avg-cost").innerHTML = '$' + (cost * 30).toFixed(2);
        document.getElementById("yearly-avg-kwh").innerHTML = (sum * 365).toFixed(2) + ' kWh';
        document.getElementById("yearly-avg-cost").innerHTML = '$' + (cost * 365).toFixed(2);
        document.getElementById("avg-circuit-total-percent").innerHTML = (percent * 1).toFixed(2) + '%';
        document.getElementById("carbon-levy-kg").innerHTML = (sum * 0.82).toFixed(2);
        document.getElementById("carbon-levy-kg").innerHTML = (sum * 0.82).toFixed(2);
        document.getElementById("carbon-levy-annual").innerHTML = (((sum * 0.82) * 365)/1000).toFixed(2);
        document.getElementById("carbon-levy-total").innerHTML = ((((sum * 0.82) * 365)/1000) * 11).toFixed(2);
        document.getElementById("carbon-cost-annual").innerHTML = '$' + totallevyspent.toFixed(2);
        document.getElementById("estimate1").innerHTML = '$' + ((((sum * 0.82) * 30) * 365)/1000).toFixed(2);
        document.getElementById("estimate2").innerHTML = '$' + ((((sum * 0.82) * 40) * 365)/1000).toFixed(2);
        document.getElementById("estimate3").innerHTML = '$' + ((((sum * 0.82) * 50) * 365)/1000).toFixed(2);
        document.getElementById("estimate4").innerHTML = '$' + ((((sum * 0.82) * 65) * 365)/1000).toFixed(2);
        document.getElementById("estimate5").innerHTML = '$' + ((((sum * 0.82) * 80) * 365)/1000).toFixed(2);
        document.getElementById("estimate6").innerHTML = '$' + ((((sum * 0.82) * 95) * 365)/1000).toFixed(2);
        document.getElementById("estimate7").innerHTML = '$' + ((((sum * 0.82) * 110) * 365)/1000).toFixed(2);
        document.getElementById("estimate8").innerHTML = '$' + ((((sum * 0.82) * 125) * 365)/1000).toFixed(2);
        document.getElementById("estimate9").innerHTML = '$' + ((((sum * 0.82) * 140) * 365)/1000).toFixed(2);
        document.getElementById("estimate10").innerHTML = '$' + ((((sum * 0.82) * 155) * 365)/1000).toFixed(2);
        document.getElementById("estimate11").innerHTML = '$' + ((((sum * 0.82) * 170) * 365)/1000).toFixed(2);
        document.getElementById("circuit-block").style.boxShadow  = "0 0 0 10000px rgba(0,0,0,.50)";
        document.getElementById("typical-load").innerHTML = (sum - 2).toFixed(2) + 'kWh' + '-' + (sum + 2).toFixed() + 'kWh';
        document.getElementById("load-fluctuation").innerHTML = (percent - 2).toFixed(2) + '%' + ' - ' + (percent - -1).toFixed(2) + "%";
        document.getElementById('score-percent').innerHTML = (100 - (current_line_error * 100)).toFixed(2) + "<span style = 'font-size: 14px;'>%</span>";
        document.getElementById('highnumber').innerHTML = (Math.max( ...current_line_data) * 1000).toFixed(0) + "<span style = 'font-size: 14px;'>w</span>";
        document.getElementById('lownumber').innerHTML = (Math.min( ...current_line_data) * 1000).toFixed(0) + "<span style = 'font-size: 14px;'>w</span>";
        document.getElementById('averagenumber').innerHTML = ((current_line_sum / current_line_data.length) * 1000).toFixed(0) + "<span style = 'font-size: 14px;'>w</span>";


    if(category == 'lighting'){
        document.getElementById('category-circle-color').style.backgroundColor = '#3649A8';
    }
    if(category == 'plugload'){
        document.getElementById('category-circle-color').style.backgroundColor = '#EE8F37';
    }
    if(category == 'hvac'){
        document.getElementById('category-circle-color').style.backgroundColor = '#EE5937';
    }
    if(category == 'equipment'){
        document.getElementById('category-circle-color').style.backgroundColor = '#3BCDEE';
    }
    if(category == 'hotwater'){
        document.getElementById('category-circle-color').style.backgroundColor = '#90C449';
    }
    if(category == 'other'){
        document.getElementById('category-circle-color').style.backgroundColor = '#DBE2F3';
    }

    for(var i = 0; i < panelnames.length; i++){
        if(panel == panelnames[i]){
            document.getElementById('panel-circle-color').style.backgroundColor = panelcolours[i];
            document.getElementById("avg-circuit-panel-percent").innerHTML = (((sum * 1000) / paneltotals[i]) * 100).toFixed(2) + '%';
        }
    }
    }
</script>
  <script>
    var price = {{price | tojson }};
    var energy = {{usage | tojson }};
    var Cost = true;
    var totalUsage = {{totalUsage}};
    var totalPrice = {{totalPrice}};
    var totalEmmissions = {{totalEmmissions}};

function changeUnits(){
    var usage = document.getElementsByClassName('x345-L7BXHD');

    if(Cost){
    for(var i = 0; i < usage.length; i++){
      usage[i].innerHTML = '$ ' + price[i];
      Cost = false;
    }
  }

  else{
    for(var i = 0; i < usage.length; i++){
      usage[i].innerHTML = energy[i] + ' kWh';
      Cost = true;
    }
  }
}

function openPanelSidebar(){
    document.getElementById('rightpanel').style.width = '400px';
    document.getElementById('rightcategory').style.width = '0px';
    document.getElementById('righttimeloads').style.width = '0px';
    document.getElementById('title').innerHTML = 'Electrical Panels';

    var colours = {{colours | tojson}};
       var x = {{numpanels}};
       var panelnames = {{strippedPanels | tojson}};
       var i;
       for(i = 0; i < x; i++){
         var j = document.getElementsByClassName(panelnames[i] + 'colour');
         var k = document.getElementsByClassName(panelnames[i]);
         for(var l = 0; l < j.length; l++){
             j[l].style.backgroundColor = colours[i];
         }
         for(var l = 0; l < k.length; l++){
             k[l].style.color = colours[i];
         }
       }

}
function openCategorySidebar(){
    document.getElementById('rightcategory').style.width = '400px';
    document.getElementById('rightpanel').style.width = '0px';
    document.getElementById('righttimeloads').style.width = '0px';
    document.getElementById('title').innerHTML = 'Inventory';

    var colours = {{colours | tojson}};
       var x = 6;
       var categorynames = ['lighting','equipment','hvac','plugload','hotwater','other'];
       var i;
       for(i = 0; i < x; i++){
         var j = document.getElementsByClassName(categorynames[i] + 'colour');
         var k = document.getElementsByClassName(categorynames[i]);
         for(var l = 0; l < j.length; l++){
             j[l].style.backgroundColor = colours[i];
         }
         for(var l = 0; l < k.length; l++){
             k[l].style.color = colours[i];
         }
       }
}
function openTimeSidebar(){
    document.getElementById('rightcategory').style.width = '0px';
    document.getElementById('rightpanel').style.width = '0px';
    document.getElementById('righttimeloads').style.width = '400px';
    document.getElementById('title').innerHTML = 'Time Loads';
}


function toggleCategories(category){
  var circuits = document.getElementsByClassName(category + 'rectangle');
  var circuitvalues = document.getElementsByClassName(category + 'value');

  for (var i = 0; i < circuits.length; i++) {
    if(!(circuits[i].classList.contains('panelhidden'))){
      if(circuits[i].style.display === "none") {
        circuits[i].style.display = "block";
        circuits[i].classList.remove("categoryhidden");
        if(Cost){
          var value = circuitvalues[i].innerHTML.split(' ')[0]
          totalPrice += parseFloat(value * 0.09);
          totalUsage += parseFloat(value)
        }
        else{
          var value = circuitvalues[i].innerHTML.split(' ')[1]
          totalPrice += parseFloat(value);
          totalUsage += parseFloat(value/0.09)
        }
      } 
      else {
        circuits[i].style.display = "none";
        circuits[i].classList.add("categoryhidden");
        if(Cost){
          var value = circuitvalues[i].innerHTML.split(' ')[0]
          totalPrice -= parseFloat(value * 0.09);
          totalUsage -= parseFloat(value)
        }
        else{
          var value = circuitvalues[i].innerHTML.split(' ')[1]
          totalPrice -= parseFloat(value);
          totalUsage -= parseFloat(value/0.09)
        }

      }
    }
    else{
    if((circuits[i].classList.contains('categoryhidden'))) {
        circuits[i].classList.remove("categoryhidden");

      } 
      else {
        circuits[i].classList.add("categoryhidden");
      }
    }
  }
  totalEmmissions = totalUsage * 0.82;
  getTotal();
}

function togglePanels(panels){
  var circuits = document.getElementsByClassName(panels + 'rectangle');
  var circuitvalues = document.getElementsByClassName(panels + 'value');

  for (var i = 0; i < circuits.length; i++) {
    if(!(circuits[i].classList.contains('categoryhidden'))){
      if(circuits[i].style.display === "none") {
        circuits[i].style.display = "block";
        circuits[i].classList.remove("panelhidden");
        if(Cost){
          var value = circuitvalues[i].innerHTML.split(' ')[0]
          totalPrice += parseFloat(value * 0.09);
          totalUsage += parseFloat(value)
        }
        else{
          var value = circuitvalues[i].innerHTML.split(' ')[1]
          totalPrice += parseFloat(value);
          totalUsage += parseFloat(value/0.09)
        }
      } 
      else {
        circuits[i].style.display = "none";
        circuits[i].classList.add("panelhidden");
        if(Cost){
          var value = circuitvalues[i].innerHTML.split(' ')[0]
          totalPrice -= parseFloat(value * 0.09);
          totalUsage -= parseFloat(value)
        }
        else{
          var value = circuitvalues[i].innerHTML.split(' ')[1]
          totalPrice -= parseFloat(value);
          totalUsage -= parseFloat(value/0.09)
        }
      }
    }
    else{
      if((circuits[i].classList.contains('panelhidden'))) {
        circuits[i].classList.remove("panelhidden");
      } 
      else {
        circuits[i].classList.add("panelhidden");
      }
    }
  }
  totalEmmissions = totalUsage * 0.82;
  getTotal();
}


function getTotal() {
  if(totalUsage < 0){
    totalUsage = 0
  }
  if(totalPrice < 0){
    totalPrice = 0
  }
  if(totalEmmissions < 0){
    totalEmmissions = 0
  }
  totalSplit = String(totalUsage.toFixed(2)).split('.')
  priceSplit = String(totalPrice.toFixed(2)).split('.')
  emissionSplit = String(totalEmmissions.toFixed(2)).split('.')


  if(totalSplit[1] == undefined){
      totalSplit[1] = '00'
  }
  if(emissionSplit[1] == undefined){
      emissionSplit[1] = '00'
  }
  if(priceSplit[1] == undefined){
      priceSplit[1] = '00'
  }
  document.getElementById("total-whole").innerHTML = totalSplit[0];
  document.getElementById("total-decimal").innerHTML = '.' + totalSplit[1];
  document.getElementById("emission-whole").innerHTML = (emissionSplit[0]);
  document.getElementById("emission-decimal").innerHTML = '.' + (emissionSplit[1]);
  document.getElementById("totalprice-whole").innerHTML = priceSplit[0];
  document.getElementById("totalprice-decimal").innerHTML = '.' + priceSplit[1];
}
function exploreCircuit(circuitname){
        var x = document.getElementsByClassName('rectangle-3165-L7BXHD');
        var y = document.getElementsByClassName('explore-image-box');
        var lighting = document.getElementsByClassName('lighting');
        var equipment = document.getElementsByClassName('equipment');
        var hvac = document.getElementsByClassName('hvac');
        var plugload = document.getElementsByClassName('plugload');
        var hotwater = document.getElementsByClassName('hotwater');
        var other = document.getElementsByClassName('other');
        for(var i = 0; i < x.length; i++){
            x[i].style.backgroundColor = 'white';
            y[i].style.display = 'none';

        }
        console.log(circuitname)
        document.getElementById(circuitname).style.backgroundColor = '#0D1758';
        document.getElementById(circuitname + 'image').style.display = 'block';
    }

function closeCircuitBlock(){
    document.getElementById('circuit-block').style.width = '0px';
    document.getElementById('circuit-block').style.border = "2px solid transparent";
    document.getElementById('overview').style.width = '0px';
    document.getElementById('load-predict').style.width = '0px';
    document.getElementById('carbon-levy').style.width = '0px';
    document.getElementById("circuit-block").style.boxShadow  = "0 0 0 0px rgba(0,0,0,.50)";
}

  </script>
<script>

      var end = {{endhours}};
  var afternoon = document.getElementById('afternoon')
  var night = document.getElementById('night')
  if(end == 0){
    night.style.overflow = 'hidden'
    afternoon.style.overflow = 'hidden'
  }
         function openOverview(){
        document.getElementById('overview').style.width = '744px';
        document.getElementById('load-predict').style.width = '0px'
        document.getElementById('carbon-levy').style.width = '0px'
       }
       function closeOverview(){
        document.getElementById('overview').style.width = '0px';
       }
       function closeLoadPredict(){
        document.getElementById('load-predict').style.width = '0px';
       }

       function openLoadPredict(){
        document.getElementById('load-predict').style.width = '744px';
        document.getElementById('overview').style.width = '0px'
        document.getElementById('carbon-levy').style.width = '0px'
       }
       function openCarbonLevy(){
        document.getElementById('load-predict').style.width = '0px';
        document.getElementById('overview').style.width = '0px'
        document.getElementById('carbon-levy').style.width = '744px'
       }
       function closeCarbonLevy(){
        document.getElementById('carbon-levy').style.width = '0px';
       }


       function checkIf0(){
        var lighting = document.getElementById('lightingcheck')
        var hvac = document.getElementById('hvaccheck')
        var dhw = document.getElementById('dhwcheck')
        var equipment = document.getElementById('equipmentcheck')
        var plugload = document.getElementById('plugloadcheck')
        var other = document.getElementById('othercheck')

        if(!(lighting.checked)){
          if(!(hvac.checked)){
            if(!(dhw.checked)){
              if(!(equipment.checked)){
                if(!(plugload.checked)){
                  if(!(other.checked)){
                        document.getElementById("total-whole").innerHTML = '0';
                        document.getElementById("total-decimal").innerHTML = '.' + '00';
                        document.getElementById("emission-whole").innerHTML = '0';
                        document.getElementById("emission-decimal").innerHTML = '.' + '00';
                        document.getElementById("totalprice-whole").innerHTML = '0';
                        document.getElementById("totalprice-decimal").innerHTML = '.' + '00';
                      }
                    }
                  }
                }
              }
        }


       }

</script>
<svg id="SvgjsSvg1383" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;"><defs id="SvgjsDefs1384"></defs><polyline id="SvgjsPolyline1385" points="0,0"></polyline><path id="SvgjsPath1386" d="M0 0 "></path></svg>




<script>
  var util = {
  qs(sel, ctx){ 
    return (ctx || document).querySelector(sel);
  },
  qsa(sel, ctx){
    return Array.from((ctx || document).querySelectorAll(sel));
  }
};

class DateCarousel {
  constructor(el) {
    this.element = el;
    this.prevButton = util.qs(".date-carousel-prev", el);
    this.input = util.qs(".date-carousel-input",el);
    this.nextButton = util.qs(".date-carousel-next",el);
    this.input.valueAsDate = new Date();
    this.prevButton.addEventListener("click",this.prev.bind(this));
    this.nextButton.addEventListener("click",this.next.bind(this));
  }
  
  prev(){
    console.log('------------- prev', this.input.name);
    this.input.stepDown();
    
  }
  
  next() {
    console.log('------------- next', this.input.name);
    this.input.stepUp();
  }
}

util.qsa('.date-carousel').forEach(function(el){ new DateCarousel(el) });



    </script>
    <script>
      $(document).ready(function(){
      $('#datepicker').val(moment().subtract({{daysDifference}}, 'days').format('ddd, D MMM yy'));
          $('#datepicker').datepicker({
            dateFormat: "D, d M yy"
          });
         $('.next-day').on('click', function (e) {
           e.preventDefault();
             var date = $('#datepicker').datepicker('getDate');
             date.setDate(date.getDate() +1)
             


             console.log(date, 'prev');
             $('#datepicker').datepicker('setDate', date);
             $("#datepicker").trigger('change');
         });
         $('.prev-day').on('click', function (e) {
          e.preventDefault();
             var date = $('#datepicker').datepicker('getDate');
             date.setDate(date.getDate() -1)
             $('#datepicker').datepicker('setDate', date);
             $("#datepicker").trigger('change');
             
         });
         $('.today-date').on('click', function (e) {
          e.preventDefault();
             var date = moment().format('MM D, YYYY');
             date.setDate(date.getDate() -1)
             $('#datepicker').datepicker('setDate', date);
         });
         });
         </script>
    <script>
      function toggleCircuits(id){
           $('.' + id).toggle();
      }
    </script>  </body>
</html>

         <script>
if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register("/sw.js", { scope: '/' })
        .then(function(registration) {
          // Registration was successful
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function(err) {
          // registration failed :(
          console.log('ServiceWorker registration failed: ', err);
        });
      });
    } 
</script>



