<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1360, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/dashboard-day.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styleguide.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/globals.css')}}" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="dashboard-day" />
    <div class="container-center-horizontal">
      <div class="dashboard-day screen">
        <div class="rectangle-2893-F7L3xZ"></div>
        <div class="header-F7L3xZ"><img class="pollen-2-E2uPe7" src="img/pollen-2@2x.png" /></div>
        <img class="kaltire-256-2-F7L3xZ" src="img/kaltire--256-2@2x.png" />
        <div class="facility-F7L3xZ avertacy-bold-chathams-blue-20px">Facility</div>
        <div class="address-F7L3xZ avertacy-bold-chathams-blue-20px">Address</div>
        <p class="x4720-yellowhead-on-ab-t5-l-3-cs-F7L3xZ avertacy-bold-cerulean-frost-10px">
          4720 Yellowhead Trail NW,<br />Edmonton, AB T5L 3CS
        </p>
        <div class="group-7195-F7L3xZ">
          <div class="rectangle-2316-o1IRD0"></div>
          <div class="chevron-down-o1IRD0"><img class="vector-GpxMxX" src="img/vector-6@2x.svg" /></div>
        </div>
        <div class="group-7234-F7L3xZ">
          <div class="group-oND2Hp">
            <div class="group-2L9tvN"><img class="vector-KbFvMe" src="img/vector-8@2x.svg" /></div>
          </div>
          <img class="vector-oND2Hp" src="img/vector-7@2x.svg" />
        </div>
        <img class="vector-F7L3xZ" src="img/vector@2x.svg" />
        <div class="overview-F7L3xZ avertacy-bold-chathams-blue-20px">Overview</div>
        <div class="kpis-F7L3xZ avertacy-bold-cerulean-frost-11px">KPI’S</div>
        <div class="inventory-F7L3xZ avertacy-bold-cerulean-frost-11px">Inventory</div>
        <div class="utilities-F7L3xZ avertacy-bold-cerulean-frost-11px">Utilities</div>
        <div class="group-7196-F7L3xZ">
          <div class="rectangle-2316-RzOHL3"></div>
          <div class="chevron-down-RzOHL3"><img class="vector-EXosiZ" src="img/vector-9@2x.svg" /></div>
        </div>
        <div class="group-7235-F7L3xZ">
          <img class="x3-c-path-x3-e-IyLOPt" src="img/x3c-path-x3e@2x.svg" />
          <div class="ellipse-437-IyLOPt"></div>
        </div>
        <div class="facility-total-F7L3xZ valign-text-middle avertacy-bold-chathams-blue-16px">Facility Total</div>
        <div class="panel-1-F7L3xZ valign-text-middle">Panel 1</div>
        <div class="x180-F7L3xZ valign-text-middle avertacy-bold-black-16px">180</div>
        <div class="x61-F7L3xZ valign-text-middle avertacy-bold-black-16px">61%</div>
        <div class="x56900-F7L3xZ valign-text-middle avertacy-bold-black-16px">$56.900</div>
        <div class="x23000-F7L3xZ valign-text-middle avertacy-bold-black-16px">$23.000</div>
        <div class="x20300-F7L3xZ valign-text-middle avertacy-bold-black-16px">$20.300</div>
        <div class="x28900-F7L3xZ valign-text-middle avertacy-bold-black-16px">$28.900</div>
        <div class="x15900-F7L3xZ valign-text-middle avertacy-bold-black-16px">$15.900</div>
        <div class="x20300-ukLjjV valign-text-middle avertacy-bold-black-16px">$20.300</div>
        <div class="x16900-F7L3xZ valign-text-middle avertacy-bold-black-16px">$16.900</div>
        <div class="x48200-F7L3xZ valign-text-middle avertacy-bold-black-16px">$48.200</div>
        <div class="x36400-F7L3xZ valign-text-middle avertacy-bold-black-16px">$36.400</div>
        <div class="x27700-F7L3xZ valign-text-middle avertacy-bold-black-16px">$27.700</div>
        <div class="x31700-F7L3xZ valign-text-middle avertacy-bold-black-16px">$31.700</div>
        <div class="x19700-F7L3xZ valign-text-middle avertacy-bold-black-16px">$19.700</div>
        <div class="panel-2-F7L3xZ valign-text-middle">Panel 2</div>
        <div class="x150-F7L3xZ valign-text-middle avertacy-bold-black-16px">150</div>
        <div class="x59-F7L3xZ valign-text-middle avertacy-bold-black-16px">59%</div>
        <div class="panel-3-F7L3xZ valign-text-middle">Panel 3</div>
        <div class="x100-F7L3xZ valign-text-middle avertacy-bold-black-16px">100</div>
        <div class="x31-F7L3xZ valign-text-middle avertacy-bold-black-16px">31%</div>
        <div class="panel-4-F7L3xZ valign-text-middle">Panel 4</div>
        <div class="x80-F7L3xZ valign-text-middle avertacy-bold-black-16px">80</div>
        <div class="x32-F7L3xZ valign-text-middle">32%</div>
        <div class="panel-5-F7L3xZ valign-text-middle">Panel 5</div>
        <div class="x185-F7L3xZ valign-text-middle avertacy-bold-black-16px">185</div>
        <div class="x49-F7L3xZ valign-text-middle avertacy-bold-black-16px">49%</div>
        <div class="panel-6-F7L3xZ valign-text-middle">Panel 6</div>
        <div class="x100-ukLjjV valign-text-middle avertacy-bold-black-16px">100</div>
        <div class="x51-F7L3xZ valign-text-middle avertacy-bold-black-16px">51%</div>
        <img class="line-156-F7L3xZ" src="img/line-156@1x.svg" /><img
          class="line-157-F7L3xZ"
          src="img/line-156@1x.svg"
        /><img class="line-158-F7L3xZ" src="img/line-156@1x.svg" /><img
          class="line-159-F7L3xZ"
          src="img/line-156@1x.svg"
        /><img class="line-160-F7L3xZ" src="img/line-156@1x.svg" /><img
          class="line-161-F7L3xZ"
          src="img/line-156@1x.svg"
        /><img class="line-162-F7L3xZ" src="img/line-156@1x.svg" /><img
          class="line-163-F7L3xZ"
          src="img/line-156@1x.svg"
        /><img class="line-164-F7L3xZ" src="img/line-156@1x.svg" /><img
          class="line-165-F7L3xZ"
          src="img/line-156@1x.svg"
        /><img class="line-166-F7L3xZ" src="img/line-156@1x.svg" /><img
          class="line-167-F7L3xZ"
          src="img/line-156@1x.svg"
        /><img class="line-168-F7L3xZ" src="img/line-156@1x.svg" /><img
          class="line-169-F7L3xZ"
          src="img/line-156@1x.svg"
        />
        <div class="page-8-F7L3xZ">
          <div class="core-lSQlBt">
            <div class="check-box-emX9G9"><img class="shape-wYz10z" src="img/shape@2x.svg" /></div>
          </div>
        </div>
        <div class="page-9-F7L3xZ">
          <div class="core-nF35u9">
            <div class="check-box-YHFrrG"><img class="shape-P7ogs2" src="img/shape-1@2x.svg" /></div>
          </div>
        </div>
        <div class="page-10-F7L3xZ">
          <div class="core-MxaQ2P">
            <div class="check-box-nvmx2w"><img class="shape-7T3bBN" src="img/shape-2@2x.svg" /></div>
          </div>
        </div>
        <div class="page-11-F7L3xZ">
          <div class="core-xisoQU">
            <div class="check-box-hQJbpr"><img class="shape-ArtG4u" src="img/shape-3@2x.svg" /></div>
          </div>
        </div>
        <div class="page-12-F7L3xZ">
          <div class="core-oZFjaO">
            <div class="check-box-RrkSCX"><img class="shape-bY5u4x" src="img/shape-4@2x.svg" /></div>
          </div>
        </div>
        <div class="page-13-F7L3xZ">
          <div class="core-KjgQwk">
            <div class="check-box-wddhkk"><img class="shape-p4jLjj" src="img/shape-5@2x.svg" /></div>
          </div>
        </div>
        <div class="page-14-F7L3xZ">
          <div class="core-mqdi27">
            <div class="check-box-lMLyh6"><img class="shape-a2wxIZ" src="img/shape-6@2x.svg" /></div>
          </div>
        </div>
        <img class="vector-ukLjjV" src="img/vector-1@2x.svg" />
        <div class="k-wh-total-F7L3xZ valign-text-middle avertacy-bold-chathams-blue-16px">kWh Total</div>
        <img class="vector-wxjJ07" src="img/vector-1@2x.svg" />
        <div class="consumption-percentage-F7L3xZ valign-text-middle avertacy-bold-chathams-blue-16px">
          Consumption Percentage
        </div>
        <img class="vector-8WzJvB" src="img/vector-1@2x.svg" />
        <div class="operating-cost-F7L3xZ valign-text-middle avertacy-bold-chathams-blue-16px">Operating Cost</div>
        <img class="vector-jxBMbR" src="img/vector-1@2x.svg" />
        <div class="potential-savings-F7L3xZ valign-text-middle avertacy-bold-chathams-blue-16px">
          Potential Savings
        </div>
        <img class="vector-xljW3G" src="img/vector-1@2x.svg" />
        <div class="rectangle-2901-F7L3xZ"><div class="box">
                <div class="graph">
                    
                    <div class="m"style="height: {{ home_upgrades[0] }}%; left: 0%;"></div>
                    <div class="m"style="height: {{ home_upgrades[1] }}%; left: 4.16666666667%;"></div>
                    <div class="m"style="height: {{ home_upgrades[2] }}%; left: 8.33333333334%;"></div>
                    <div class="m"style="height: {{ home_upgrades[3] }}%; left: 12.5%;"></div>
                    <div class="m"style="height: {{ home_upgrades[4] }}%; left: 16.6666666667%;"></div>
                    <div class="m"style="height: {{ home_upgrades[5] }}%; left: 20.8333333334%;"></div>
                    <div class="m"style="height: {{ home_upgrades[6] }}%; left: 25.0000000001%;"></div>
                    <div class="m"style="height: {{ home_upgrades[7] }}%; left: 29.1666666668%;"></div>
                    <div class="m"style="height: {{ home_upgrades[8] }}%; left: 33.3333333335%;"></div>
                    <div class="m"style="height: {{ home_upgrades[9] }}%; left: 37.5000000002%;"></div>
                    <div class="m"style="height: {{ home_upgrades[10] }}%; left: 41.6666666669%;"></div>
                    <div class="m"style="height: {{ home_upgrades[11] }}%; left: 45.8333333336%;"></div>
                    <div class="m"style="height: {{ home_upgrades[12] }}%; left: 50.0000000003%;"></div>
                     <div class="m"style="height: {{ home_upgrades[13] }}%; left: 54.166666667%;"></div>
                    <div class="m"style="height: {{ home_upgrades[14] }}%; left: 58.3333333337%;"></div>
                    <div class="m"style="height: {{ home_upgrades[15] }}%; left: 62.5000000004%;"></div>
                    <div class="m"style="height: {{ home_upgrades[16] }}%; left: 66.6666666671%;"></div>
                    <div class="m"style="height: {{ home_upgrades[17] }}%; left: 70.8333333338%;"></div>
                    <div class="m"style="height: {{ home_upgrades[18] }}%; left: 75.0000000005%;"></div>
                    <div class="m"style="height: {{ home_upgrades[19] }}%; left: 79.1666666672%;"></div>
                    <div class="m"style="height: {{ home_upgrades[20] }}%; left: 83.3333333339%;"></div>
                    <div class="m"style="height: {{ home_upgrades[21] }}%; left: 87.5000000006%;"></div>
                    <div class="m"style="height: {{ home_upgrades[22] }}%; left: 91.6666666673%;"></div>
                    <div class="m"style="height: {{ home_upgrades[23] }}%; left: 95.833333334%;"></div>
                    <div class="a"style="height: 90%; left: 0%;"></div>
                </div>
              </div></div>
        <div class="x20-F7L3xZ valign-text-middle avertacy-bold-chathams-blue-10px">-20</div>
        <div class="x0-F7L3xZ valign-text-middle avertacy-bold-chathams-blue-10px">0</div>
        <div class="x20-ukLjjV valign-text-middle avertacy-bold-chathams-blue-10px">20</div>
        <div class="x40-F7L3xZ valign-text-middle avertacy-bold-chathams-blue-10px">40</div>
        <div class="x60-F7L3xZ valign-text-middle avertacy-bold-chathams-blue-10px">60</div>
        <div class="x80-ukLjjV valign-text-middle avertacy-bold-chathams-blue-10px">80</div>
        <div class="x100-wxjJ07 valign-text-middle avertacy-bold-chathams-blue-10px">100</div>
        <div class="x120-F7L3xZ valign-text-middle avertacy-bold-chathams-blue-10px">120</div>
        <div class="x12-am-F7L3xZ valign-text-middle avertacy-bold-chathams-blue-10px">12 AM</div>
        <div class="noon-F7L3xZ valign-text-middle avertacy-bold-chathams-blue-10px">Noon</div>
        <div class="x12-am-ukLjjV valign-text-middle avertacy-bold-chathams-blue-10px">12 AM</div>
      
        <div class="group-7241-F7L3xZ">
          <div class="rectangle-2902-EtKQpN"></div>
          <div class="group-7237-EtKQpN">
            <div class="group-XGvAba">
              <img class="vector-zYxvdP" src="img/vector-10@2x.svg" /><img
                class="vector-IAfFlb"
                src="img/vector-11@2x.svg"
              />
            </div>
            <div class="rectangle-2895-XGvAba"></div>
            <div class="rectangle-2896-XGvAba"></div>
            <div class="rectangle-2897-XGvAba"></div>
            <div class="rectangle-2898-XGvAba"></div>
          </div>
        </div>
        <div class="group-7240-F7L3xZ">
          <div class="rectangle-2903-nhfG4r"></div>
          <div class="group-nhfG4r">
            <div class="group-1CHTP6"><img class="group-2e3U8y" src="img/group@2x.svg" /></div>
          </div>
        </div>
        <div class="view-by-F7L3xZ avertacy-bold-chathams-blue-20px">View by:</div>
        <div class="day-F7L3xZ avertacy-bold-chathams-blue-16px">Day</div>
        <div class="week-F7L3xZ">Week</div>
        <div class="month-F7L3xZ">Month</div>
        <div class="from-F7L3xZ">From:</div>
        <div class="to-F7L3xZ">To:</div>
        <div class="rectangle-2889-F7L3xZ"></div>
        <div class="rectangle-2890-F7L3xZ"></div>
        <p class="day-month-year-F7L3xZ avertacy-bold-cerulean-frost-10px">Day / Month / Year</p>
        <p class="day-month-year-ukLjjV avertacy-bold-cerulean-frost-10px">Day / Month / Year</p>
        <div class="march-18th-2021-F7L3xZ">March 18th 2021</div>
      </div>
    </div>
  </body>
</html>
