@font-face {
  font-family: var(--font-family-averta_cy-bold);
  src: url("./fonts/AvertaCY-Bold.ttf");
  font-style: "Bold";
}
@font-face {
  font-family: var(--font-family-averta_cy-bold);
  src: url("./fonts/AvertaCY-Light.ttf");
  font-style: "Light";
}
@font-face {
  font-family: var(--font-family-averta_cy-bold);
  src: url("./fonts/AvertaCY-Regular.ttf");
  font-style: "Regular";
}
@font-face {
  font-family: var(--font-family-averta_cy-bold);
  src: url("./fonts/AvertaCY-Semibold.ttf");
  font-style: "semi-bold";
}
/*classes for fonts*/
.av-bold {
  font-family: var(--font-family-averta_cy-bold);
}

.av-light {
  font-family: var(--font-family-averta_cy-bold);
}

.av-reg {
  font-family: var(--font-family-averta_cy-bold);
}

.av-sembold {
  font-family: var(--font-family-averta_cy-bold);
}

.size-8 {
  font-size: 8px;
}

.size-12 {
  font-size: 12.33px;
}

.size-19 {
  font-size: 19px;
}

.size-20 {
  font-size: 20px;
}

.size-45 {
  font-size: 45px;
}

.size-8 {
  font-size: 8px;
}

.size-14 {
  font-size: 14px;
}

.size-13 {
  font-size: 13px;
}

.size-15 {
  font-size: 15px;
}

.size-17 {
  font-size: 17px;
}

.size-18 {
  font-size: 18px;
}

.size-25 {
  font-size: 25px;
}

.size-28 {
  font-size: 28px;
}

.size-30 {
  font-size: 30px;
}

.size-35 {
  font-size: 35px;
}

.size-45 {
  font-size: 45px;
}

.size-68 {
  font-size: 68px;
}

.maincolor {
  color: #0D1758;
}

.grey {
  color: #B0B0B0;
}

.green {
  color: #22B14C;
}

.d-grey {
  color: #7F7F7F;
}

/*some reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, ul, p, a {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*display classes*/
.dis-flex {
  display: flex;
}

.alignCntr {
  align-items: center;
}

.dblock {
  display: block;
}

.spbtween {
  justify-content: space-between;
}

.sparound {
  justify-content: space-around;
}

.w100 {
  width: 100px;
}

.txtcntr {
  text-align: center;
}

.justCntr {
  justify-content: center;
}

/*Ui Classes*/
.ml-5 {
  margin-left: 5px;
}

.dot {
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.blueBk {
  background-color: #44AAFD;
}

.yelBK {
  background-color: #FFC90E;
}

.relative {
  position: relative;
}

.left-5 {
  left: -8px;
}

.w-170 {
  width: 167px;
  margin: 10px auto;
  margin-bottom: 0;
  line-height: 1.2;
}

::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0D1758;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0D1758;
}

.main-title-h2 {
  color: #0D1758;
  font-family: var(--font-family-averta_cy-bold);
  font-size: 32px;
}

.inventory__sidebar {
  height: 100%;
  width: 250px;
  position: relative;
  border-right: 1px solid #e3e7ed;
  padding-top: 20px;
  height: 100vh;
}
.inventory__sidebar .arrow-toggle {
  position: absolute;
  right: 0;
  background-color: #3649a8;
  border-radius: 0px 12px 12px 0px;
  width: 23px;
  padding: 10px 0px;
  transform: rotate(180deg);
  top: 70px;
  cursor: pointer;
  z-index: 99999;
}
.inventory__sidebar .arrow-toggle svg {
  transform: rotate(180deg);
}
.inventory__sidebar--logo {
  position: relative;
  height: 65px;
  padding-left: 20px;
}
.inventory__sidebar--logo a svg:nth-child(2) {
  position: absolute;
  top: 25px;
  left: 48px;
}
.inventory__sidebar--links ul {
  padding-top: 25px;
}
.inventory__sidebar--links ul li {
  height: 60px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: 0.5s;
}
.inventory__sidebar--links ul li:hover .inventory__sidebar--links ul li::after {
  opacity: 1;
}
.inventory__sidebar--links ul li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #6285fb;
  width: 5px;
  height: 100%;
  border-radius: 8px;
  display: block;
  opacity: 0;
}
.inventory__sidebar--links ul li a {
  font-family: "Averta";
  color: #afb8cc;
  display: flex;
  font-size: 16px;
  transition: 0.25s;
  font-family: var(--font-family-averta_cy-bold);
}
.inventory__sidebar--links ul li a:hover {
  color: #6285fb;
}
.inventory__sidebar--links ul li a svg path {
  transition: 0.25s;
}
.inventory__sidebar--links ul li a:hover span svg path {
  stroke: #6285fb;
}
.inventory__sidebar--links ul li a span {
  display: block;
}
.inventory__sidebar--links ul li a span:nth-child(2) {
  margin-left: 25px;
}
.inventory__sidebar--links ul li:last-child a {
  align-items: center;
}
.inventory__sidebar--links ul li.ads {
  height: auto;
}

.ads__box {
  font-family: "Averta";
  background: #293f8a;
  border-radius: 14px;
  padding: 15px 0;
  font-family: var(--font-family-averta_cy-bold);
}
.ads__box .img {
  width: 180px;
  background-color: #fff;
  border-radius: 10px;
  margin: 15px auto;
  position: relative;
  height: 70px;
  margin-top: 0;
}
.ads__box .img img {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ads__box h2 {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  padding-left: 14px;
  margin: 0;
}
.ads__box p {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 14px;
  margin-bottom: 0;
  margin: 7px 0;
  letter-spacing: 1px;
}
.ads__box--cta {
  display: flex;
  padding-left: 10px;
  margin-top: 8px;
}
.ads__box--cta a {
  display: flex;
  justify-content: center;
  background: #f8fafe;
  border-radius: 8px;
  padding: 3.5px 14px;
  color: #498de1;
  font-size: 10px;
}
.ads__box--cta a:nth-child(2) {
  margin-left: 10px;
}
.ads__box--cta a span {
  margin: 0;
  display: inline-block;
}
.ads__box--cta a span:nth-child(1) {
  position: relative;
  top: 2px;
}
.ads__box--cta a span:nth-child(2) {
  margin-left: 8px;
}

.bottom-action {
  position: absolute;
  width: 215px;
  left: 20px;
  bottom: 50px;
}

button.logout {
  background-color: transparent;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 40px;
}
button.logout svg path {
  transition: 0.25s;
}
button.logout:hover span {
  color: #6285fb;
}
button.logout:hover span svg path {
  fill: #6285fb;
}
button.logout span {
  font-family: "Averta";
  color: #afb8cc;
  font-size: 16px;
  font-family: var(--font-family-averta_cy-bold);
}
button.logout span:nth-child(2) {
  margin-left: 25px;
}

.inventory__sidebar--links ul li:hover::after {
  opacity: 1;
}

.aboutPage {
  display: flex;
}
.aboutPage .right-side {
  flex-grow: 1;
  margin-left: 50px;
  margin-top: 50px;
}
.aboutPage .right-side > h2 {
  margin-bottom: 25px;
}
.aboutPage .right-side-content {
  width: 100%;
  background-color: #F5F5F5;
  height: 85%;
  max-width: 1107px;
  padding: 30px 50px;
  border-radius: 10px;
}
.aboutPage .right-side-content > h3 {
  margin-bottom: 10px;
}
.aboutPage .right-side-content .content-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.aboutPage .right-side-content .content-flex > div {
  width: 480px;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px 30px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.aboutPage .right-side-content .content-flex .first-section .top-part, .aboutPage .right-side-content .content-flex .second-section .top-part {
  display: flex;
  align-items: center;
}
.aboutPage .right-side-content .content-flex .first-section .top-part > div, .aboutPage .right-side-content .content-flex .second-section .top-part > div {
  width: 50%;
}
.aboutPage .right-side-content .content-flex .first-section .top-part ul, .aboutPage .right-side-content .content-flex .second-section .top-part ul {
  width: 50%;
}
.aboutPage .right-side-content .content-flex .first-section .top-part ul li, .aboutPage .right-side-content .content-flex .second-section .top-part ul li {
  margin-bottom: 10px;
}
.aboutPage .right-side-content .content-flex .first-section .top-part ul li:nth-child(2), .aboutPage .right-side-content .content-flex .second-section .top-part ul li:nth-child(2) {
  display: flex;
}
.aboutPage .right-side-content .content-flex .first-section .top-part ul li:nth-child(2) > div:nth-child(2), .aboutPage .right-side-content .content-flex .second-section .top-part ul li:nth-child(2) > div:nth-child(2) {
  margin-left: 70px;
}
.aboutPage .right-side-content .content-flex .first-section .bottom-part, .aboutPage .right-side-content .content-flex .second-section .bottom-part {
  padding-top: 15px;
  position: relative;
  margin-top: 15px;
}
.aboutPage .right-side-content .content-flex .first-section .bottom-part::after, .aboutPage .right-side-content .content-flex .second-section .bottom-part::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #E3E7ED;
}
.aboutPage .right-side-content .content-flex .first-section .bottom-part a, .aboutPage .right-side-content .content-flex .second-section .bottom-part a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aboutPage .right-side-content .content-flex .second-section .bottom-part {
  margin-top: 9px;
}
.aboutPage .right-side-content .content-flex .third-section .chart {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
  align-items: flex-end;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.aboutPage .right-side-content .content-flex .third-section .chart .column {
  position: relative;
}
.aboutPage .right-side-content .content-flex .third-section .chart .column:nth-child(1) span {
  width: 10px;
  height: 2px;
  background-color: #ED1C24;
  border-radius: 5px;
}
.aboutPage .right-side-content .content-flex .third-section .chart .column span {
  display: block;
  width: 10px;
  height: 59px;
  background: #22B14C;
  border-radius: 5px;
}
.aboutPage .right-side-content .content-flex .third-section .chart .column p {
  color: #7F7F7F;
  font-size: 17px;
  font-family: var(--font-family-averta_cy-bold);
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.aboutPage .right-side-content .content-flex .third-section .bottom-part {
  padding-top: 15px;
  position: relative;
  margin-top: 15px;
}
.aboutPage .right-side-content .content-flex .third-section .bottom-part::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #E3E7ED;
}
.aboutPage .right-side-content .content-flex .third-section .bottom-part a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aboutPage .right-side-content .content-flex .four-section {
  border-radius: 0;
  background: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutPage .right-side-content .content-flex .four-section > div {
  padding-bottom: 10px;
}
.aboutPage .right-side-content .content-flex .four-section .part-1 {
  width: 226px;
  background-color: #fff;
  border-radius: 15px;
  padding-top: 50px;
}
.aboutPage .right-side-content .content-flex .four-section .part-1 > p {
  width: 130px;
  margin: auto;
  text-align: center;
}
.aboutPage .right-side-content .content-flex .four-section .part-1 .bottom-part {
  padding-top: 15px;
  position: relative;
  margin-top: 15px;
  width: 90%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}
.aboutPage .right-side-content .content-flex .four-section .part-1 .bottom-part::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #E3E7ED;
}
.aboutPage .right-side-content .content-flex .four-section .part-1 .bottom-part a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aboutPage .right-side-content .content-flex .four-section .part-2 {
  width: 226px;
  background-color: #fff;
  border-radius: 15px;
}
.aboutPage .right-side-content .content-flex .four-section .part-2 img {
  display: block;
  margin: auto;
}
.aboutPage .right-side-content .content-flex .four-section .part-2 .live {
  display: flex;
  align-items: center;
  padding: 4px 5px;
  border-radius: 7px;
  border: 2px solid #0D1758;
  max-width: 52px;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 15px;
}
.aboutPage .right-side-content .content-flex .four-section .part-2 .live > span {
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #22B14C;
  border-radius: 50%;
  margin-right: 3px;
}
.aboutPage .right-side-content .content-flex .four-section .part-2 .live p {
  margin-left: 3px;
}
.aboutPage .right-side-content .content-flex .four-section .part-2 .degree {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutPage .right-side-content .content-flex .four-section .part-2 .degree span.circle {
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid #0D1758;
  border-radius: 50%;
  right: -38px;
  left: 0;
  margin: auto;
  top: 20px;
}
.aboutPage .right-side-content .content-flex .four-section .part-2 .degree > span:nth-child(2) {
  position: relative;
  font-family: var(--font-family-averta_cy-bold);
  font-size: 35px;
}
.aboutPage .right-side-content .content-flex .four-section .part-2 .bottom-part {
  padding-top: 15px;
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.aboutPage .right-side-content .content-flex .four-section .part-2 .bottom-part::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #E3E7ED;
}
.aboutPage .right-side-content .content-flex .four-section .part-2 .bottom-part a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.range-slider {
  position: relative;
  display: flex;
  position: relative;
  display: flex;
  /* justify-content: center; */
  margin: 50px 0;
  margin: auto;
  padding: 0 20px;
  /* margin: 46px auto; */
  margin-top: 40px;
}

.range-span {
  display: flex;
}

.range-span > span.line:nth-child(2) {
  margin: 0 2.5px;
  background: #FFDA59;
  border-radius: 0px;
}

.range-span > span.line:nth-child(1) {
  background: #22B14C;
  border-radius: 12px 0px 0px 12px;
}

.range-span > span.line:nth-child(3) {
  background: #FF7F27;
  border-radius: 12px 0px 0px 12px;
  transform: rotate(180deg);
}

.line {
  width: 60px;
  height: 15px;
  background-color: #f00;
  display: block;
}

.pointer {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='30' viewBox='0 0 14 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.764648 30C0.764648 30 0.764724 17.5985 0.764648 9.65217C0.764611 5.88235 4.2941 -1.40597e-06 6.94112 -1.52168e-06C9.58814 -1.63738e-06 13.1176 5.29412 13.1176 9.65217C13.1176 17.5985 13.1176 30 13.1176 30L0.764648 30Z' fill='%233649A8'/%3E%3C/svg%3E%0A");
  width: 15px;
  height: 30px;
  position: absolute;
  background-repeat: no-repeat;
  top: -16px;
  animation-name: animateeLeft;
  animation-duration: 10s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes animateeLeft {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(170px);
  }
  100% {
    transform: translateX(0px);
  }
}
.aboutPage .first-section .top-part .img img{
  display: block;
  /* margin: auto; */
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: -20px;
}

/*# sourceMappingURL=style.css.map */
