/* screen - add-window-air-conditioner */

.add-window-air-conditioner {
  background-color: var(--white);
  height: 812px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.add-window-air-conditioner .add-9xz0lo {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-core_sans_c-65bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 59px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}
.add-window-air-conditioner .add-photo-83XzNc {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-core_sans_c-55medium);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.add-window-air-conditioner .add-window-air-conditioner-C61RwL {
  background-color: transparent;
  color: #1d5280;
  font-family: var(--font-family-core_sans_c-65bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 59px;
  white-space: nowrap;
  width: auto;
}
.add-window-air-conditioner .cancel-WjY3xc {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-core_sans_c-65bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}
.add-window-air-conditioner .compressor-type-C61RwL {
  background-color: transparent;
  height: auto;
  left: 202px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 310px;
  white-space: nowrap;
  width: auto;
}
.add-window-air-conditioner .cooling-capacity-C61RwL {
  background-color: transparent;
  height: auto;
  left: 202px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 244px;
  white-space: nowrap;
  width: auto;
}
.add-window-air-conditioner .eer-C61RwL {
  background-color: transparent;
  height: auto;
  left: 202px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 376px;
  white-space: nowrap;
  width: auto;
}
.add-window-air-conditioner .group-6899-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 30px;
  position: absolute;
  top: 132px;
  width: 315px;
}
.add-window-air-conditioner .group-6900-C61RwL {
  background-color: transparent;
  height: 12px;
  left: 322px;
  position: absolute;
  top: 59px;
  width: 23px;
}
.add-window-air-conditioner .group-6901-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 30px;
  position: absolute;
  top: 264px;
  width: 149px;
}
.add-window-air-conditioner .group-6908-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 30px;
  position: absolute;
  top: 198px;
  width: 149px;
}
.add-window-air-conditioner .group-6909-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 196px;
  position: absolute;
  top: 198px;
  width: 149px;
}
.add-window-air-conditioner .group-6910-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 196px;
  position: absolute;
  top: 264px;
  width: 149px;
}
.add-window-air-conditioner .group-7192-C61RwL {
  background-color: transparent;
  height: 36px;
  left: 195px;
  position: absolute;
  top: 600px;
  width: 152px;
}
.add-window-air-conditioner .group-7193-C61RwL {
  background-color: transparent;
  height: 15px;
  left: 159px;
  position: absolute;
  top: 274px;
  width: 8px;
}
.add-window-air-conditioner .group-7196-C61RwL {
  background-color: transparent;
  height: 36px;
  left: 30px;
  position: absolute;
  top: 600px;
  width: 152px;
}
.add-window-air-conditioner .group-7219-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 57px;
  position: absolute;
  top: 526px;
  width: 111px;
}
.add-window-air-conditioner .group-7220-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 209px;
  position: absolute;
  top: 526px;
  width: 111px;
}
.add-window-air-conditioner .group-7221-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 30px;
  position: absolute;
  top: 330px;
  width: 149px;
}
.add-window-air-conditioner .group-7222-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 30px;
  position: absolute;
  top: 396px;
  width: 149px;
}
.add-window-air-conditioner .group-7223-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 30px;
  position: absolute;
  top: 330px;
  width: 149px;
}
.add-window-air-conditioner .group-7224-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 196px;
  position: absolute;
  top: 330px;
  width: 149px;
}
.add-window-air-conditioner .group-7225-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 196px;
  position: absolute;
  top: 396px;
  width: 149px;
}
.add-window-air-conditioner .kw-ton-C61RwL {
  background-color: transparent;
  height: auto;
  left: 36px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 376px;
  white-space: nowrap;
  width: auto;
}
.add-window-air-conditioner .layer-1-C61RwL {
  background-color: transparent;
  height: 26px;
  left: 176px;
  position: absolute;
  top: 489px;
  width: 24px;
}
.add-window-air-conditioner .manufacturer-C61RwL {
  background-color: transparent;
  height: auto;
  left: 36px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 112px;
  white-space: nowrap;
  width: auto;
}
.add-window-air-conditioner .model-number-C61RwL {
  background-color: transparent;
  height: auto;
  left: 36px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 178px;
  white-space: nowrap;
  width: auto;
}
.add-window-air-conditioner .rectangle-2345-CvPFFg {
  background-color: transparent;
  border-radius: 8px;
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 149px;
}
.add-window-air-conditioner .rectangle-2345-Mz8XNq {
  background-color: transparent;
  border-radius: 8px;
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 315px;
}
.add-window-air-conditioner .rectangle-2345-PRTlyn {
  background-color: transparent;
  border-radius: 8px;
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 149px;
}
.add-window-air-conditioner .rectangle-2345-Sxblbp {
  background-color: transparent;
  border-radius: 8px;
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 149px;
}
.add-window-air-conditioner .rectangle-2345-Z05HMs {
  background-color: transparent;
  border-radius: 8px;
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 149px;
}
.add-window-air-conditioner .rectangle-2345-eJPJAb {
  background-color: transparent;
  border-radius: 8px;
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 149px;
}
.add-window-air-conditioner .rectangle-2345-ilCFrg {
  background-color: transparent;
  border-radius: 8px;
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 149px;
}
.add-window-air-conditioner .rectangle-2345-mfKJX0 {
  background-color: transparent;
  border-radius: 8px;
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 149px;
}
.add-window-air-conditioner .rectangle-2345-tbO93q {
  background-color: transparent;
  border-radius: 8px;
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 149px;
}
.add-window-air-conditioner .rectangle-2345-ydzefS {
  background-color: transparent;
  border-radius: 8px;
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 149px;
}
.add-window-air-conditioner .rectangle-2755-83XzNc {
  background-color: var(--cerulean-frost);
  border-radius: 3px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 109px;
}
.add-window-air-conditioner .rectangle-2755-9xz0lo {
  background-color: #3ab54a;
  border-radius: 6px;
  height: 36px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 150px;
}
.add-window-air-conditioner .rectangle-2755-WjY3xc {
  background-color: var(--cerulean-frost);
  border-radius: 6px;
  height: 36px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 150px;
}
.add-window-air-conditioner .rectangle-2806-C61RwL {
  background-color: transparent;
  height: 135px;
  left: 30px;
  position: absolute;
  top: 452px;
  width: 315px;
}
.add-window-air-conditioner .rectangle-2807-KSWG3U {
  background-color: transparent;
  border: 1.5px solid var(--cerulean-frost);
  border-radius: 3px;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 109px;
}
.add-window-air-conditioner .refridgerant-C61RwL {
  background-color: transparent;
  height: auto;
  left: 36px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 310px;
  white-space: nowrap;
  width: auto;
}
.add-window-air-conditioner .serial-number-C61RwL {
  background-color: transparent;
  height: auto;
  left: 205px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 178px;
  white-space: nowrap;
  width: auto;
}
.add-window-air-conditioner .vector-88-lrkHPC {
  background-color: transparent;
  height: 2px;
  left: 10px;
  position: absolute;
  top: -1px;
  width: 14px;
}
.add-window-air-conditioner .vector-89-lrkHPC {
  background-color: transparent;
  height: 2px;
  left: -1px;
  position: absolute;
  top: 5px;
  width: 25px;
}
.add-window-air-conditioner .vector-90-lrkHPC {
  background-color: transparent;
  height: 2px;
  left: -1px;
  position: absolute;
  top: 11px;
  width: 14px;
}
.add-window-air-conditioner .vector-FIkdjm {
  background-color: transparent;
  height: 6px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 6px;
}
.add-window-air-conditioner .vector-LA17xu {
  background-color: transparent;
  height: 6px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 10px;
}
.add-window-air-conditioner .vector-TBtSab {
  background-color: transparent;
  height: 6px;
  left: -1px;
  position: absolute;
  top: 10px;
  width: 10px;
}
.add-window-air-conditioner .vector-YBNzTx {
  background-color: transparent;
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 24px;
}
.add-window-air-conditioner .view-photos-KSWG3U {
  background-color: transparent;
  color: var(--cerulean-frost);
  font-family: var(--font-family-core_sans_c-55medium);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.add-window-air-conditioner .year-number-C61RwL {
  background-color: transparent;
  height: auto;
  left: 36px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 244px;
  white-space: nowrap;
  width: auto;
}
