/* screen - add-pump */

.add-pump {
  background-color: var(--white);
  height: 812px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.add-pump .add-9xz0lo {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-core_sans_c-65bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 59px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}
.add-pump .add-photo-83XzNc {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-core_sans_c-55medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.add-pump .add-pump-C61RwL {
  background-color: transparent;
  color: #1d5280;
  font-family: var(--font-family-core_sans_c-65bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 59px;
  white-space: nowrap;
  width: auto;
}
.add-pump .cancel-mfpI2o {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-core_sans_c-65bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}
.add-pump .gpm-C61RwL {
  background-color: transparent;
  height: auto;
  left: 36px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 244px;
  white-space: nowrap;
  width: auto;
}
.add-pump .group-6899-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 30px;
  position: absolute;
  top: 132px;
  width: 315px;
}
.add-pump .group-6900-C61RwL {
  background-color: transparent;
  height: 12px;
  left: 322px;
  position: absolute;
  top: 59px;
  width: 23px;
}
.add-pump .group-6902-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 30px;
  position: absolute;
  top: 198px;
  width: 315px;
}
.add-pump .group-6903-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 30px;
  position: absolute;
  top: 264px;
  width: 315px;
}
.add-pump .group-7192-C61RwL {
  background-color: transparent;
  height: 36px;
  left: 195px;
  position: absolute;
  top: 481px;
  width: 152px;
}
.add-pump .group-7194-C61RwL {
  background-color: transparent;
  height: 36px;
  left: 30px;
  position: absolute;
  top: 481px;
  width: 152px;
}
.add-pump .group-7219-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 57px;
  position: absolute;
  top: 403px;
  width: 111px;
}
.add-pump .group-7220-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 209px;
  position: absolute;
  top: 403px;
  width: 111px;
}
.add-pump .head-C61RwL {
  background-color: transparent;
  height: auto;
  left: 36px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 178px;
  white-space: nowrap;
  width: auto;
}
.add-pump .layer-1-C61RwL {
  background-color: transparent;
  height: 26px;
  left: 176px;
  position: absolute;
  top: 354px;
  width: 24px;
}
.add-pump .manufacturer-C61RwL {
  background-color: transparent;
  height: auto;
  left: 36px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 112px;
  white-space: nowrap;
  width: auto;
}
.add-pump .rectangle-2345-5fxYOr {
  background-color: transparent;
  border-radius: 8px;
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 315px;
}
.add-pump .rectangle-2345-Mz8XNq {
  background-color: transparent;
  border-radius: 8px;
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 315px;
}
.add-pump .rectangle-2345-fJ0smy {
  background-color: transparent;
  border-radius: 8px;
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 315px;
}
.add-pump .rectangle-2755-83XzNc {
  background-color: var(--cerulean-frost);
  border-radius: 3px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 109px;
}
.add-pump .rectangle-2755-9xz0lo {
  background-color: #3ab54a;
  border-radius: 6px;
  height: 36px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 150px;
}
.add-pump .rectangle-2755-mfpI2o {
  background-color: var(--cerulean-frost);
  border-radius: 6px;
  height: 36px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 150px;
}
.add-pump .rectangle-2806-C61RwL {
  background-color: transparent;
  height: 132px;
  left: 30px;
  position: absolute;
  top: 324px;
  width: 315px;
}
.add-pump .rectangle-2807-KSWG3U {
  background-color: transparent;
  border: 1.5px solid var(--cerulean-frost);
  border-radius: 3px;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 109px;
}
.add-pump .vector-88-lrkHPC {
  background-color: transparent;
  height: 2px;
  left: 10px;
  position: absolute;
  top: -1px;
  width: 14px;
}
.add-pump .vector-89-lrkHPC {
  background-color: transparent;
  height: 2px;
  left: -1px;
  position: absolute;
  top: 5px;
  width: 25px;
}
.add-pump .vector-90-lrkHPC {
  background-color: transparent;
  height: 2px;
  left: -1px;
  position: absolute;
  top: 11px;
  width: 14px;
}
.add-pump .vector-FIkdjm {
  background-color: transparent;
  height: 6px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 6px;
}
.add-pump .vector-YBNzTx {
  background-color: transparent;
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 24px;
}
.add-pump .view-photos-KSWG3U {
  background-color: transparent;
  color: var(--cerulean-frost);
  font-family: var(--font-family-core_sans_c-55medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
