/* screen - add-company */

.add-company {
  background-color: transparent;
  height: 812px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.add-company .add-ilCFrg {
  background-color: transparent;
  color: #ffffff;
  font-family: var(--font-family-core_sans_c-65bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 142px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}
.add-company .group-6899-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 30px;
  position: absolute;
  top: 132px;
  width: 315px;
}
.add-company .group-6900-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 30px;
  position: absolute;
  top: 204px;
  width: 152px;
}
.add-company .group-6901-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 193px;
  position: absolute;
  top: 204px;
  width: 152px;
}
.add-company .group-6902-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 30px;
  position: absolute;
  top: 276px;
  width: 152px;
}
.add-company .group-6903-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 193px;
  position: absolute;
  top: 276px;
  width: 152px;
}
.add-company .group-6904-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 30px;
  position: absolute;
  top: 348px;
  width: 152px;
}
.add-company .group-6905-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 193px;
  position: absolute;
  top: 348px;
  width: 152px;
}
.add-company .group-6906-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 30px;
  position: absolute;
  top: 420px;
  width: 315px;
}
.add-company .group-6907-C61RwL {
  background-color: transparent;
  height: 16px;
  left: 317px;
  position: absolute;
  top: 430px;
  width: 14px;
}
.add-company .group-6908-C61RwL {
  background-color: transparent;
  height: 36px;
  left: 30px;
  position: absolute;
  top: 478px;
  width: 317px;
}
.add-company .login-C61RwL {
  background-color: transparent;
  height: 812px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 375px;
}
.add-company .rectangle-2345-5fxYOr {
  background-color: transparent;
  border-radius: 8px;
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}
.add-company .rectangle-2345-CvPFFg {
  background-color: transparent;
  border-radius: 8px;
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}
.add-company .rectangle-2345-HV8MUu {
  background-color: transparent;
  border-radius: 8px;
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}
.add-company .rectangle-2345-Mz8XNq {
  background-color: transparent;
  border-radius: 8px;
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 315px;
}
.add-company .rectangle-2345-fJ0smy {
  background-color: transparent;
  border-radius: 8px;
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}
.add-company .rectangle-2345-gxjIOi {
  background-color: transparent;
  border-radius: 8px;
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 315px;
}
.add-company .rectangle-2345-lrkHPC {
  background-color: transparent;
  border-radius: 8px;
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}
.add-company .rectangle-2345-vxW5MR {
  background-color: transparent;
  border-radius: 8px;
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}
.add-company .rectangle-2755-ilCFrg {
  background-color: #39b5fa;
  border-radius: 6px;
  height: 36px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 315px;
}
.add-company .vector-QfahVf {
  background-color: transparent;
  height: 2px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 14px;
  width: 14px;
}
.add-company .vector-pg83Rh {
  background-color: transparent;
  height: 12px;
  left: 3px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 8px;
}
