/* screen - add-appliances-selected */

.add-appliances-selected {
  align-items: center;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 812px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  padding: 48px 21px;
  position: relative;
  width: 375px;
}
.add-appliances-selected .add-appliances-ht0xwR {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-left: 68px;
  min-height: 20px;
  min-width: 150px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.add-appliances-selected .appliance-photo-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 14px;
  margin-left: 1.0px;
  margin-top: 40px;
  min-height: 14px;
  min-width: 112px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.add-appliances-selected .button-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 60px;
  margin-left: 3.0px;
  margin-top: 262px;
  position: relative;
  width: 220px;
}
.add-appliances-selected .camera-Nhty8A {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 58px;
  margin-right: 0.24px;
  position: relative;
  width: 66px;
}
.add-appliances-selected .chevron-left-W1DPWM {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 18px;
  justify-content: flex-start;
  left: 282px;
  overflow: hidden;
  padding: 6.0px 3px;
  position: absolute;
  top: 15px;
  transform: rotate(-90deg);
  width: 18px;
}
.add-appliances-selected .chevron-left-YkFgbO {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 18px;
  justify-content: flex-start;
  left: 282px;
  overflow: hidden;
  padding: 6.0px 3px;
  position: absolute;
  top: 15px;
  transform: rotate(-90deg);
  width: 18px;
}
.add-appliances-selected .chevron-left-ht0xwR {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 5.0px 8px;
  position: relative;
  width: 24px;
}
.add-appliances-selected .group-2671-C61RwL {
  align-items: flex-end;
  background-color: transparent;
  background-image: url(../img/ellipse-347@2x.svg);
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-right: 1.0px;
  margin-top: 12px;
  min-height: 134px;
  padding: 4px 5px;
  position: relative;
  width: 134px;
}
.add-appliances-selected .group-6883-C61RwL {
  align-items: center;
  align-self: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  min-width: 242px;
  position: relative;
  width: auto;
}
.add-appliances-selected .group-6889-Nhty8A {
  align-items: center;
  background-color: var(--violet-blue);
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 30px;
  justify-content: flex-start;
  margin-top: 4px;
  min-width: 30px;
  padding: 0 3px;
  position: relative;
  width: auto;
}
.add-appliances-selected .group-6898-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 4.0px;
  margin-top: 20px;
  min-height: 72px;
  position: relative;
  width: 319px;
}
.add-appliances-selected .group-6899-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 4.0px;
  margin-top: 30px;
  min-height: 72px;
  position: relative;
  width: 319px;
}
.add-appliances-selected .hot-water-tank-W1DPWM {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 17px;
  white-space: nowrap;
  width: auto;
}
.add-appliances-selected .kitchen-YkFgbO {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 17px;
  white-space: nowrap;
  width: auto;
}
.add-appliances-selected .overlap-group-Mz8XNq {
  background-color: transparent;
  flex-shrink: 1;
  height: 48px;
  margin-top: 10px;
  position: relative;
  width: 315px;
}
.add-appliances-selected .overlap-group1-xQb8O6 {
  background-color: transparent;
  flex-shrink: 1;
  height: 48px;
  margin-top: 10px;
  position: relative;
  width: 315px;
}
.add-appliances-selected .plus-AdIHWU {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0 4px;
  position: relative;
  width: 24px;
}
.add-appliances-selected .rectangle-2313-xHxYv9 {
  background-color: var(--gulf-blue);
  border-radius: 20px;
  box-shadow: 0px 4px 50px rgba(102,117,192,0.2);;
  height: 60px;
  left: 0px;
  opacity: 0.1;
  position: absolute;
  top: 0px;
  width: 218px;
}
.add-appliances-selected .rectangle-2345-W1DPWM {
  background-color: transparent;
  border-radius: 10px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 315px;
}
.add-appliances-selected .rectangle-2345-YkFgbO {
  background-color: transparent;
  border-radius: 10px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 315px;
}
.add-appliances-selected .save-appliance-xHxYv9 {
  background-color: transparent;
  height: auto;
  left: 54px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 24px;
  white-space: nowrap;
  width: auto;
}
.add-appliances-selected .select-appliance-Mz8XNq {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 14px;
  min-height: 14px;
  min-width: 114px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.add-appliances-selected .select-group-xQb8O6 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 14px;
  min-height: 14px;
  min-width: 87px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.add-appliances-selected .stroke-1-6uyZ8b {
  background-color: transparent;
  height: 60px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 68px;
}
.add-appliances-selected .stroke-5-6uyZ8b {
  background-color: transparent;
  height: 25px;
  left: 20px;
  position: absolute;
  top: 21px;
  width: 25px;
}
.add-appliances-selected .vector-DxLbh3 {
  background-color: transparent;
  flex-shrink: 1;
  height: 14px;
  position: relative;
  width: 8px;
}
.add-appliances-selected .vector-EKzxVH {
  background-color: transparent;
  flex-shrink: 1;
  height: 6px;
  position: relative;
  transform: rotate(90deg);
  width: 12px;
}
.add-appliances-selected .vector-U9mRoM {
  background-color: transparent;
  flex-shrink: 1;
  height: 6px;
  position: relative;
  transform: rotate(90deg);
  width: 12px;
}
.add-appliances-selected .vector-hB1cs5 {
  background-color: transparent;
  flex-shrink: 1;
  height: 16px;
  position: relative;
  width: 16px;
}
