/* screen - equipment-area */

.equipment-area {
  background-color: var(--white);
  height: 812px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.equipment-area .chevron-left-ht0xwR {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 5.0px 8px;
  position: relative;
  width: 24px;
}
.equipment-area .address-of-building-C61RwL {
  background-color: transparent;
  color: var(--chathams-blue);
  font-family: var(--font-family-core_sans_c-65bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 223px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 148px;
  white-space: nowrap;
  width: auto;
}
.equipment-area .appliances-C61RwL {
  background-color: transparent;
  height: auto;
  left: 56px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 415px;
  white-space: nowrap;
  width: auto;
}
.equipment-area .dhw-equipment-C61RwL {
  background-color: transparent;
  height: auto;
  left: 56px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 325px;
  white-space: nowrap;
  width: auto;
}
.equipment-area .equipment-area-1-C61RwL {
  background-color: transparent;
  color: var(--chathams-blue);
  font-family: var(--font-family-core_sans_c-65bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 59px;
  white-space: nowrap;
  width: auto;
}
.equipment-area .group-6900-C61RwL {
  background-color: transparent;
  height: 12px;
  left: 322px;
  position: absolute;
  top: 59px;
  width: 23px;
}
.equipment-area .group-6911-C61RwL {
  background-color: transparent;
  height: 132px;
  left: 41px;
  position: absolute;
  top: 120px;
  width: 168px;
}
.equipment-area .hvac-equipment-C61RwL {
  background-color: transparent;
  height: auto;
  left: 56px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 280px;
  white-space: nowrap;
  width: auto;
}
.equipment-area .lighting-C61RwL {
  background-color: transparent;
  height: auto;
  left: 56px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 370px;
  white-space: nowrap;
  width: auto;
}
.equipment-area .operating-hours-C61RwL {
  background-color: transparent;
  color: var(--chathams-blue);
  font-family: var(--font-family-core_sans_c-65bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 223px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 192px;
  white-space: nowrap;
  width: auto;
}
.equipment-area .pexels-pixabay-209251-1-C61RwL {
  background-color: transparent;
  height: 132px;
  left: 41px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 120px;
  width: 168px;
}
.equipment-area .rectangle-2767-nFnupU {
  background-color: #00000033;
  border-radius: 10px;
  height: 132px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 168px;
}
.equipment-area .rectangle-2769-C61RwL {
  background-color: #f7f9fe;
  border-radius: 10px;
  height: 346px;
  left: 30px;
  mix-blend-mode: normal;
  position: absolute;
  top: 108px;
  width: 315px;
}
.equipment-area .rectangle-2784-C61RwL {
  background-color: var(--white);
  border-radius: 10px;
  height: 35px;
  left: 41px;
  mix-blend-mode: normal;
  position: absolute;
  top: 268px;
  width: 293px;
}
.equipment-area .rectangle-2793-C61RwL {
  background-color: var(--cerulean-frost);
  border-radius: 6px;
  height: 25px;
  left: 229px;
  mix-blend-mode: normal;
  position: absolute;
  top: 273px;
  width: 98px;
}
.equipment-area .rectangle-2794-C61RwL {
  background-color: var(--white);
  border-radius: 10px;
  height: 35px;
  left: 41px;
  mix-blend-mode: normal;
  position: absolute;
  top: 313px;
  width: 293px;
}
.equipment-area .rectangle-2795-C61RwL {
  background-color: var(--cerulean-frost);
  border-radius: 6px;
  height: 25px;
  left: 229px;
  mix-blend-mode: normal;
  position: absolute;
  top: 318px;
  width: 98px;
}
.equipment-area .rectangle-2796-C61RwL {
  background-color: var(--white);
  border-radius: 10px;
  height: 35px;
  left: 41px;
  mix-blend-mode: normal;
  position: absolute;
  top: 358px;
  width: 293px;
}
.equipment-area .rectangle-2797-C61RwL {
  background-color: var(--cerulean-frost);
  border-radius: 6px;
  height: 25px;
  left: 229px;
  mix-blend-mode: normal;
  position: absolute;
  top: 363px;
  width: 98px;
}
.equipment-area .rectangle-2810-C61RwL {
  background-color: var(--white);
  border-radius: 10px;
  height: 35px;
  left: 41px;
  mix-blend-mode: normal;
  position: absolute;
  top: 403px;
  width: 293px;
}
.equipment-area .rectangle-2811-C61RwL {
  background-color: var(--cerulean-frost);
  border-radius: 6px;
  height: 25px;
  left: 229px;
  mix-blend-mode: normal;
  position: absolute;
  top: 408px;
  width: 98px;
}
.equipment-area .some-address-C61RwL {
  background-color: transparent;
  color: var(--cerulean-frost);
  font-family: var(--font-family-core_sans_c-55medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 223px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 162px;
  white-space: nowrap;
  width: auto;
}
.equipment-area .vector-88-lrkHPC {
  background-color: transparent;
  height: 2px;
  left: 10px;
  position: absolute;
  top: -1px;
  width: 14px;
}
.equipment-area .vector-89-lrkHPC {
  background-color: transparent;
  height: 2px;
  left: -1px;
  position: absolute;
  top: 5px;
  width: 25px;
}
.equipment-area .vector-90-lrkHPC {
  background-color: transparent;
  height: 2px;
  left: -1px;
  position: absolute;
  top: 11px;
  width: 14px;
}
.equipment-area .view-C61RwL {
  background-color: transparent;
  height: auto;
  left: 266px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 280px;
  white-space: nowrap;
  width: auto;
}
.equipment-area .view-QxM5SU {
  background-color: transparent;
  height: auto;
  left: 266px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 415px;
  white-space: nowrap;
  width: auto;
}
.equipment-area .view-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 266px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 325px;
  white-space: nowrap;
  width: auto;
}
.equipment-area .view-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 266px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 370px;
  white-space: nowrap;
  width: auto;
}
.equipment-area .x0800-1600-C61RwL {
  background-color: transparent;
  color: var(--cerulean-frost);
  font-family: var(--font-family-core_sans_c-55medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 223px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 206px;
  white-space: nowrap;
  width: auto;
}
