/* screen - building-2 */

.building-2 {
  background-color: var(--white);
  height: 812px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.building-2 .add-areas-equipment-C61RwL {
  background-color: transparent;
  height: auto;
  left: 127px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 305px;
  white-space: nowrap;
  width: auto;
}
.building-2 .add-building-envelope-C61RwL {
  background-color: transparent;
  height: auto;
  left: 127px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 270px;
  white-space: nowrap;
  width: auto;
}
.building-2 .add-panels-C61RwL {
  background-color: transparent;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 340px;
  white-space: nowrap;
  width: auto;
}
.building-2 .address-of-building-C61RwL {
  background-color: transparent;
  height: auto;
  left: 223px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 148px;
  white-space: nowrap;
  width: auto;
}
.building-2 .group-6900-C61RwL {
  background-color: transparent;
  height: 12px;
  left: 322px;
  position: absolute;
  top: 59px;
  width: 23px;
}
.building-2 .group-6911-C61RwL {
  background-color: transparent;
  height: 132px;
  left: 41px;
  position: absolute;
  top: 118px;
  width: 168px;
}
.building-2 .on-site-audit-C61RwL {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 59px;
  white-space: nowrap;
  width: auto;
}
.building-2 .operating-hours-C61RwL {
  background-color: transparent;
  height: auto;
  left: 223px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 192px;
  white-space: nowrap;
  width: auto;
}
.building-2 .pexels-pixabay-269077-2-nFnupU {
  background-color: transparent;
  height: 132px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 168px;
}
.building-2 .rectangle-2767-nFnupU {
  background-color: var(--black);
  border-radius: 10px;
  height: 132px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 168px;
}
.building-2 .rectangle-2769-C61RwL {
  background-color: var(--zircon);
  border-radius: 10px;
  height: 264px;
  left: 30px;
  mix-blend-mode: normal;
  position: absolute;
  top: 108px;
  width: 315px;
}
.building-2 .rectangle-2775-C61RwL {
  background-color: var(--cerulean-frost);
  border-radius: 5px;
  height: 26px;
  left: 41px;
  mix-blend-mode: normal;
  position: absolute;
  top: 263px;
  width: 293px;
}
.building-2 .rectangle-2776-C61RwL {
  background-color: var(--chathams-blue);
  border-radius: 5px;
  cursor: pointer;
  height: 26px;
  left: 41px;
  mix-blend-mode: normal;
  position: absolute;
  top: 298px;
  width: 293px;
}
.building-2 .rectangle-2777-C61RwL {
  background-color: transparent;
  border: 1.5px solid var(--cerulean-frost);
  border-radius: 5px;
  height: 26px;
  left: 41px;
  position: absolute;
  top: 333px;
  width: 293px;
}
.building-2 .some-address-C61RwL {
  background-color: transparent;
  height: auto;
  left: 223px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 162px;
  white-space: nowrap;
  width: auto;
}
.building-2 .vector-88-lrkHPC {
  background-color: transparent;
  height: 2px;
  left: 10px;
  position: absolute;
  top: -1px;
  width: 14px;
}
.building-2 .vector-89-lrkHPC {
  background-color: transparent;
  height: 2px;
  left: -1px;
  position: absolute;
  top: 5px;
  width: 25px;
}
.building-2 .vector-90-lrkHPC {
  background-color: transparent;
  height: 2px;
  left: -1px;
  position: absolute;
  top: 11px;
  width: 14px;
}
.building-2 .x0800-1600-C61RwL {
  background-color: transparent;
  height: auto;
  left: 223px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 206px;
  white-space: nowrap;
  width: auto;
}
