/* screen - companies */

.companies {
  background-color: var(--white);
  height: 812px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.companies .add-company-C61RwL {
  background-color: transparent;
  height: auto;
  left: 53px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 759px;
  white-space: nowrap;
  width: auto;
}
.companies .add-logo-4QOeqO {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}

.companies .frame-4311-nIxcen {
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  height: 152px;
  justify-content: flex-start;
  margin-bottom: 15px;
  position: relative;
  width: 335px;
}

.companies .frame-4317-4eduM0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 724px;
  position: absolute;
  top: 0px;
  width: 335px;
}
.companies .add-logo-6Cia4e {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.companies .add-logo-rZJ3W0 {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.companies .add-logo-xLL7tx {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.companies .buildings-9rFx7k {
  background-color: transparent;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.companies .buildings-PIEh7b {
  background-color: transparent;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.companies .buildings-SJ1IOl {
  background-color: transparent;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.companies .buildings-VeWK4m {
  background-color: transparent;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.companies .chevron-left-C61RwL {
  background-color: transparent;
  height: 18px;
  left: 330px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 57px;
  transform: rotate(-90deg);
  width: 18px;
}
.companies .client-1-C61RwL {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 143px;
  white-space: nowrap;
  width: auto;
}
.companies .client-2-C61RwL {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 308px;
  white-space: nowrap;
  width: auto;
}
.companies .companies-C61RwL {
  background-color: transparent;
  color: var(--chathams-blue);
  font-family: var(--font-family-core_sans_c-75extrabold);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 800;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 59px;
  white-space: nowrap;
  width: auto;
}
.companies .company-C61RwL {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 120px;
  white-space: nowrap;
  width: auto;
}
.companies .company-QxM5SU {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 615px;
  white-space: nowrap;
  width: auto;
}
.companies .company-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 285px;
  white-space: nowrap;
  width: auto;
}
.companies .company-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 450px;
  white-space: nowrap;
  width: auto;
}
.companies .contact-info-C61RwL {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 177px;
  white-space: nowrap;
  width: auto;
}
.companies .contact-info-QxM5SU {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 672px;
  white-space: nowrap;
  width: auto;
}
.companies .contact-info-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 342px;
  white-space: nowrap;
  width: auto;
}
.companies .contact-info-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 507px;
  white-space: nowrap;
  width: auto;
}
.companies .delete-SO40Oe {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.companies .delete-kIkX1B {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.companies .delete-sx1TzF {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.companies .delete-ww1ZQg {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.companies .group-6-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 279px;
  position: absolute;
  top: 115px;
  width: 68px;
}
.companies .group-6912-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 279px;
  position: absolute;
  top: 145px;
  width: 68px;
}
.companies .group-6913-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 279px;
  position: absolute;
  top: 175px;
  width: 68px;
}
.companies .group-6914-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 279px;
  position: absolute;
  top: 280px;
  width: 68px;
}
.companies .group-6915-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 279px;
  position: absolute;
  top: 310px;
  width: 68px;
}
.companies .group-6916-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 279px;
  position: absolute;
  top: 340px;
  width: 68px;
}
.companies .group-6917-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 279px;
  position: absolute;
  top: 370px;
  width: 68px;
}
.companies .group-6918-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 279px;
  position: absolute;
  top: 445px;
  width: 68px;
}
.companies .group-6919-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 279px;
  position: absolute;
  top: 475px;
  width: 68px;
}
.companies .group-6920-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 279px;
  position: absolute;
  top: 505px;
  width: 68px;
}
.companies .group-6921-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 279px;
  position: absolute;
  top: 535px;
  width: 68px;
}
.companies .group-6922-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 279px;
  position: absolute;
  top: 610px;
  width: 68px;
}
.companies .group-6923-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 279px;
  position: absolute;
  top: 640px;
  width: 68px;
}
.companies .group-6924-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 279px;
  position: absolute;
  top: 670px;
  width: 68px;
}
.companies .group-6925-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 279px;
  position: absolute;
  top: 700px;
  width: 68px;
}
.companies .group-7-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 279px;
  position: absolute;
  top: 205px;
  width: 68px;
}
.companies .kaltire-C61RwL {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 638px;
  white-space: nowrap;
  width: auto;
}
.companies .line-4-C61RwL {
  background-color: transparent;
  height: 2px;
  left: 30px;
  position: absolute;
  top: 248px;
  width: 315px;
}
.companies .line-5-C61RwL {
  background-color: transparent;
  height: 2px;
  left: 30px;
  position: absolute;
  top: 413px;
  width: 315px;
}
.companies .line-6-C61RwL {
  background-color: transparent;
  height: 2px;
  left: 30px;
  position: absolute;
  top: 578px;
  width: 315px;
}
.companies .rectangle-2755-9rFx7k {
  background-color: var(--cerulean-frost);
  border-radius: 6px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 66px;
}
.companies .rectangle-2755-PIEh7b {
  background-color: var(--cerulean-frost);
  border-radius: 6px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 66px;
}
.companies .rectangle-2755-SJ1IOl {
  background-color: var(--cerulean-frost);
  border-radius: 6px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 66px;
}
.companies .rectangle-2755-VeWK4m {
  background-color: var(--cerulean-frost);
  border-radius: 6px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 66px;
}
.companies .rectangle-2756-4QOeqO {
  background-color: transparent;
  border-radius: 6px;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 66px;
}
.companies .rectangle-2756-6Cia4e {
  background-color: transparent;
  border-radius: 6px;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 66px;
}
.companies .rectangle-2756-Sfp1p9 {
  background-color: var(--chathams-blue-2);
  border-radius: 6px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 66px;
}
.companies .rectangle-2756-dPOCHC {
  background-color: var(--chathams-blue-2);
  border-radius: 6px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 66px;
}
.companies .rectangle-2756-rZJ3W0 {
  background-color: transparent;
  border-radius: 6px;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 66px;
}
.companies .rectangle-2756-sQJEVh {
  background-color: var(--chathams-blue-2);
  border-radius: 6px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 66px;
}
.companies .rectangle-2756-u7KnIt {
  background-color: var(--chathams-blue-2);
  border-radius: 6px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 66px;
}
.companies .rectangle-2756-xLL7tx {
  background-color: transparent;
  border-radius: 6px;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 66px;
}
.companies .rectangle-2757-SO40Oe {
  background-color: var(--orange-red);
  border-radius: 6px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 66px;
}
.companies .rectangle-2757-kIkX1B {
  background-color: var(--orange-red);
  border-radius: 6px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 66px;
}
.companies .rectangle-2757-sx1TzF {
  background-color: var(--orange-red);
  border-radius: 6px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 66px;
}
.companies .rectangle-2757-ww1ZQg {
  background-color: var(--orange-red);
  border-radius: 6px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 66px;
}
.companies .rectangle-2778-C61RwL {
  background-color: var(--chateau-green);
  border-radius: 5px;
  cursor: pointer;
  height: 26px;
  left: 30px;
  mix-blend-mode: normal;
  position: absolute;
  top: 752px;
  width: 123px;
}
.companies .sample-C61RwL {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 473px;
  white-space: nowrap;
  width: auto;
}
.companies .sort-by-C61RwL {
  background-color: transparent;
  color: #afb8cc;
  font-family: var(--font-family-core_sans_c-55medium);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 282px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 59px;
  white-space: nowrap;
  width: auto;
}
.companies .time-added-C61RwL {
  background-color: transparent;
  height: auto;
  left: 135px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 120px;
  white-space: nowrap;
  width: auto;
}
.companies .time-added-QxM5SU {
  background-color: transparent;
  height: auto;
  left: 135px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 615px;
  white-space: nowrap;
  width: auto;
}
.companies .time-added-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 135px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 285px;
  white-space: nowrap;
  width: auto;
}
.companies .time-added-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 135px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 450px;
  white-space: nowrap;
  width: auto;
}
.companies .update-Sfp1p9 {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.companies .update-dPOCHC {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.companies .update-sQJEVh {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.companies .update-u7KnIt {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.companies .vector-lCWmxx {
  background-color: transparent;
  height: 6px;
  left: 3px;
  position: absolute;
  top: 6px;
  transform: rotate(90deg);
  width: 12px;
}
.companies .x2021-02-27-C61RwL {
  background-color: transparent;
  height: auto;
  left: 135px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 143px;
  white-space: nowrap;
  width: auto;
}
.companies .x2021-02-27-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 135px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 308px;
  white-space: nowrap;
  width: auto;
}
.companies .x2021-05-18-C61RwL {
  background-color: transparent;
  height: auto;
  left: 135px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 473px;
  white-space: nowrap;
  width: auto;
}
.companies .x2021-05-18-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 135px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 638px;
  white-space: nowrap;
  width: auto;
}
.companies .x389-77-791-C61RwL {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 200px;
  white-space: nowrap;
  width: auto;
}
.companies .x389-77-791-QxM5SU {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 695px;
  white-space: nowrap;
  width: auto;
}
.companies .x389-77-791-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 365px;
  white-space: nowrap;
  width: auto;
}
.companies .x389-77-791-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 530px;
  white-space: nowrap;
  width: auto;
}
