@font-face {
  font-family: var(--font-family-averta_cy-bold);
  src: url("./fonts/AvertaCY-Bold.ttf");
  font-style: "Bold";
}
@font-face {
  font-family: var(--font-family-averta_cy-bold);
  src: url("./fonts/AvertaCY-Light.ttf");
  font-style: "Light";
}
@font-face {
  font-family: var(--font-family-averta_cy-bold);
  src: url("./fonts/AvertaCY-Regular.ttf");
  font-style: "Regular";
}
@font-face {
  font-family: var(--font-family-averta_cy-bold);
  src: url("./fonts/AvertaCY-Semibold.ttf");
  font-style: "semi-bold";
}
/*classes for fonts*/
.av-bold {
  font-family: var(--font-family-averta_cy-bold);
}

.av-light {
  font-family: var(--font-family-averta_cy-bold);
}

.av-reg {
  font-family: var(--font-family-averta_cy-bold);
}

.av-sembold {
  font-family: var(--font-family-averta_cy-bold);
}

.size-8 {
  font-size: 8px;
}

.size-10 {
  font-size: 10px;
}

.size-11 {
  font-size: 11px;
}

.size-12 {
  font-size: 12.33px;
}

.size-19 {
  font-size: 19px;
}

.size-20 {
  font-size: 20px;
}

.size-36 {
  font-size: 36px;
}

.size-45 {
  font-size: 45px;
}

.size-8 {
  font-size: 8px;
}

.size-14 {
  font-size: 14px;
}

.size-13 {
  font-size: 13px;
}

.size-15 {
  font-size: 15px;
}

.size-17 {
  font-size: 17px;
}

.size-18 {
  font-size: 18px;
}

.size-25 {
  font-size: 25px;
}

.size-28 {
  font-size: 28px;
}

.size-30 {
  font-size: 30px;
}

.size-35 {
  font-size: 35px;
}

.size-45 {
  font-size: 45px;
}

.size-68 {
  font-size: 68px;
}

.maincolor {
  color: #0D1758;
}

.grey {
  color: #B0B0B0;
}

.green {
  color: #22B14C;
}

.d-grey {
  color: #7F7F7F;
}

/*some reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, ul, p, a {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*display classes*/
.dis-flex {
  display: flex;
}

.alignCntr {
  align-items: center;
}

.dblock {
  display: block;
}

.spbtween {
  justify-content: space-between;
}

.sparound {
  justify-content: space-around;
}

.w100 {
  width: 100px;
}

.txtcntr {
  text-align: center;
}

.justCntr {
  justify-content: center;
}

/*Ui Classes*/
.ml-5 {
  margin-left: 5px;
}

.dot {
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.blueBk {
  background-color: #44AAFD;
}

.yelBK {
  background-color: #FFC90E;
}

.relative {
  position: relative;
}

.left-5 {
  left: -8px;
}

.w-170 {
  width: 167px;
  margin: 10px auto;
  margin-bottom: 0;
  line-height: 1.2;
}

::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0D1758;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0D1758;
}

.main-title-h2 {
  color: #0D1758;
  font-family: var(--font-family-averta_cy-bold);
  font-size: 32px;
}

.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__Date .tab-item {
  width: 180px;
  max-width: 100%;
  position: absolute;
  right: 40px;
  top: 30px;
  z-index: 99999999999999;
  margin: auto;
  font-family: var(--font-family-averta_cy-bold);
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__Date .tab-item .monthYear {
  display: flex;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__Date .tab-item .monthYear span {
  width: 50%;
  padding: 10px 0;
  font-size: 12.33px;
  text-align: center;
  color: #3649A8;
  cursor: pointer;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__Date .tab-item .monthYear span.active {
  background-color: #0D1758;
  border-radius: 8px 8px 0px 0px;
  color: #fff;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__Date .tab-item .showCurrent {
  background-color: #0D1758;
  border-radius: 0px 8px 8px 8px;
  color: #fff;
  font-size: 12.35px;
  display: flex;
  justify-content: space-around;
  padding: 11.5px 0;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__Date .tab-item .showCurrent .yearData, .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__Date .tab-item .showCurrent .monthData {
  min-width: 60px;
  text-align: center;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__Date .tab-item .showCurrent.adjust {
  border-radius: 8px 0 8px 8px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__Date .tab-item .showCurrent span:not(:nth-child(2)) {
  cursor: pointer;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__Date .tab-item .showCurrent span.hide {
  position: relative;
  z-index: -1;
  opacity: 0.5;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__Date .tab-item .showCurrent .monthData {
  display: none;
}

.inventory__sidebar {
  height: 100%;
  width: 250px;
  position: relative;
  border-right: 1px solid #e3e7ed;
  padding-top: 20px;
  height: 100vh;
}
.inventory__sidebar .arrow-toggle {
  position: absolute;
  right: 0;
  background-color: #3649a8;
  border-radius: 0px 12px 12px 0px;
  width: 23px;
  padding: 10px 0px;
  transform: rotate(180deg);
  top: 70px;
  cursor: pointer;
  z-index: 99999;
}
.inventory__sidebar .arrow-toggle svg {
  transform: rotate(180deg);
}
.inventory__sidebar--logo {
  position: relative;
  height: 65px;
  padding-left: 20px;
}
.inventory__sidebar--logo a svg:nth-child(2) {
  position: absolute;
  top: 25px;
  left: 48px;
}
.inventory__sidebar--links ul {
  padding-top: 25px;
}
.inventory__sidebar--links ul li {
  height: 60px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: 0.5s;

}
.inventory__sidebar--links ul li:hover .inventory__sidebar--links ul li::after {
  opacity: 1;
}
.inventory__sidebar--links ul li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #6285fb;
  width: 5px;
  height: 100%;
  border-radius: 8px;
  display: block;
  opacity: 0;
}
.inventory__sidebar--links ul li a {
  font-family: "Averta";
  color: #afb8cc;
  display: flex;
  font-size: 16px;
  transition: 0.25s;
  font-family: var(--font-family-averta_cy-bold);
}
.inventory__sidebar--links ul li a:hover {
  color: #6285fb;
}
.inventory__sidebar--links ul li a svg path {
  transition: 0.25s;
}
.inventory__sidebar--links ul li a:hover span svg path {
  stroke: #6285fb;
}
.inventory__sidebar--links ul li a span {
  display: block;
}
.inventory__sidebar--links ul li a span:nth-child(2) {
  margin-left: 25px;
}
.inventory__sidebar--links ul li:last-child a {
  align-items: center;
}
.inventory__sidebar--links ul li.ads {
  height: auto;
}

.ads__box {
  font-family: "Averta";
  background: #293f8a;
  border-radius: 14px;
  padding: 15px 0;
  font-family: var(--font-family-averta_cy-bold);
}
.ads__box .img {
  width: 180px;
  background-color: #fff;
  border-radius: 10px;
  margin: 15px auto;
  position: relative;
  height: 70px;
  margin-top: 0;
}
.ads__box .img img {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ads__box h2 {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  padding-left: 14px;
  margin: 0;
}
.ads__box p {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 14px;
  margin-bottom: 0;
  margin: 7px 0;
  letter-spacing: 1px;
}
.ads__box--cta {
  display: flex;
  padding-left: 10px;
  margin-top: 8px;
}
.ads__box--cta a {
  display: flex;
  justify-content: center;
  background: #f8fafe;
  border-radius: 8px;
  padding: 3.5px 14px;
  color: #498de1;
  font-size: 10px;
}
.ads__box--cta a:nth-child(2) {
  margin-left: 10px;
}
.ads__box--cta a span {
  margin: 0;
  display: inline-block;
}
.ads__box--cta a span:nth-child(1) {
  position: relative;
  top: 2px;
}
.ads__box--cta a span:nth-child(2) {
  margin-left: 8px;
}

.bottom-action {
  position: absolute;
  width: 215px;
  left: 20px;
  bottom: 50px;
}

button.logout {
  background-color: transparent;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 40px;
}
button.logout svg path {
  transition: 0.25s;
}
button.logout:hover span {
  color: #6285fb;
}
button.logout:hover span svg path {
  fill: #6285fb;
}
button.logout span {
  font-family: "Averta";
  color: #afb8cc;
  font-size: 16px;
  font-family: var(--font-family-averta_cy-bold);
}
button.logout span:nth-child(2) {
  margin-left: 25px;
}

.inventory__sidebar--links ul li:hover::after {
  opacity: 1;
}

.Facility-perofrmance {
  display: flex;
}
.Facility-perofrmance .facility-performanceCharts {
  flex-grow: 1;
  margin-left: 50px;
  margin-top: 50px;
}
.Facility-perofrmance .facility-performanceCharts > h2 {
  margin-bottom: 25px;
}
.Facility-perofrmance .facility-performanceCharts > h2 svg {
  transform: rotate(-180deg);
}
.Facility-perofrmance .facility-performanceCharts > h2 span {
  display: inline-block;
  margin-left: 25px;
}
.Facility-perofrmance .facility-performanceCharts .numValue sup {
  font-size: 17px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing {
  background-color: #e5e5e580;
  height: 100%;
  max-width: 1200px;
  padding-top: 25px;
  border-radius: 10px;
  max-height: 800px;
  padding-left: 50px;
  padding-right: 50px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part {
  display: flex;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .top-header {
  margin-bottom: 10px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content {
  display: flex;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__total {
  width: 180px;
  border-radius: 18px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
  margin-right: 25px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__total p.total {
  width: 90%;
  text-align: center;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 3px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__dropdown {
  width: 200px;
  border-radius: 18px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  margin-right: 25px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__dropdown > div {
  display: flex;
  align-items: center;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__dropdown > div.total-usage {
  position: relative;
  cursor: pointer;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__dropdown > div.total-usage > svg {
  transition: 0.5s;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__dropdown > div.total-usage.stretch > svg {
  transform: rotate(180deg);
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__dropdown > div.total-usage .dropwdown {
  position: absolute;
  top: 40px;
  width: 160px;
  background-color: #fff;
  border-radius: 18px;
  border: 1px solid #E0E0E0;
  padding: 15px;
  z-index: 999999;
  padding-bottom: 5px;
  left: -20px;
  display: none;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__dropdown > div.total-usage .dropwdown.show {
  display: block;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__dropdown > div.total-usage .dropwdown .sortby {
  width: 60px;
  text-align: center;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__dropdown > div.total-usage .dropwdown > div {
  display: flex;
  justify-content: space-between;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__dropdown > div.total-usage .dropwdown > div .toggle > div {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__dropdown > div.total-usage .dropwdown > div .toggle > div.active span::after {
  opacity: 1;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__dropdown > div.total-usage .dropwdown > div .toggle > div:nth-child(1) {
  margin-bottom: 5px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__dropdown > div.total-usage .dropwdown > div .toggle .dot {
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  position: relative;
  margin-right: 3px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__dropdown > div.total-usage .dropwdown > div .toggle .dot.active::after {
  opacity: 1;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__dropdown > div.total-usage .dropwdown > div .toggle .dot::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2D79DB;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  opacity: 0;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__dropdown > div.total-usage .dropwdown > ul {
  margin-top: 15px;
  border-top: 1px solid #E0E0E0;
  padding-top: 10px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__dropdown > div.total-usage .dropwdown > ul li {
  margin-bottom: 8px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__dropdown > div.total-usage .dropwdown > ul li a {
  display: flex;
  align-items: center;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__dropdown > div.total-usage .dropwdown > ul li a span {
  display: block;
  width: 150px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__dropdown > div > p {
  margin-right: 12px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__dropdown > div > svg {
  position: relative;
  top: 3px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing-section .content .viewing__dropdown > div:nth-child(1) {
  margin-bottom: 15px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content {
  display: flex;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .breakdown {
  margin: 0 10px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .units, .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .timeload, .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .breakdown {
  width: 100px;
  background-color: #fff;
  border-radius: 18px;
  padding: 10px 8px;
  padding-bottom: 10px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .units > p, .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .timeload > p, .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .breakdown > p {
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 3px;
  margin-bottom: 5px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .units > div, .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .timeload > div, .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .breakdown > div {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 5px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .units > div.active span.dot::after, .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .timeload > div.active span.dot::after, .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .breakdown > div.active span.dot::after {
  opacity: 1;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .units > div.avperhour, .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .timeload > div.avperhour, .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .breakdown > div.avperhour {
  align-items: flex-start;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .units > div.avperhour .dot, .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .timeload > div.avperhour .dot, .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .breakdown > div.avperhour .dot {
  position: relative;
  top: 5px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .units > div:nth-of-type(1), .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .timeload > div:nth-of-type(1), .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .breakdown > div:nth-of-type(1) {
  margin-bottom: 5px;
  margin-top: 10px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .units > div .dot, .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .timeload > div .dot, .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .breakdown > div .dot {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  border: 1px solid #EAEDF1;
  margin-right: 7px;
  position: relative;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .units > div .dot.active::after, .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .timeload > div .dot.active::after, .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .breakdown > div .dot.active::after {
  opacity: 1;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .units > div .dot::after, .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .timeload > div .dot::after, .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .breakdown > div .dot::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2D79DB;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  opacity: 0;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .units > div > span:nth-child(2), .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .timeload > div > span:nth-child(2), .Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__sortBy .content .breakdown > div > span:nth-child(2) {
  width: 50px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__Date {
  margin-left: auto;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__Date .content {
  padding: 25px;
  background-color: #fff;
  border-radius: 18px;
  width: 280px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .top-part .viewing__Date .tab-item {
  position: static;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .calendar {
  margin-top: 5px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .calendar > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .calendar .day {
  width: 130px;
  overflow-y: hidden;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .calendar .titleday {
  color: #7F7F7F;
  font-family: var(--font-family-averta_cy-bold);
  font-size: 12px;
  text-align: center;
  margin-bottom: 5px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .calendar .content {
  background-color: #fff;
  border-radius: 18px;
  padding: 20px 0;
  position: relative;
  padding-top: 5px;
  padding-bottom: 15px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .calendar .content .numberDay {
  color: #0D1758;
  font-size: 12.3px;
  font-family: var(--font-family-averta_cy-bold);
  text-align: right;
  margin-right: 10px;
  height: 16px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .calendar .column {
  border-top: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
  padding: 10px 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 60px;
  position: relative;
  overflow-y: hidden;

}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .calendar .column .spancolumn {
  width: 3px;
  display: block;
  background-color: #CBD1EF;
  margin-right: 2px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .calendar .contentValue {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: center;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .calendar .contentValue .kwhUnit {
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  text-align: center;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .calendar .contentValue span {
  color: #0D1758;
  font-size: 14px;
  font-family: var(--font-family-averta_cy-bold);
  position: relative;
  top: -5px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .calendar .contentValue .totalValue {
  font-size: 35px;
  color: #0D1758;
  font-family: var(--font-family-averta_cy-bold);
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .calendar .contentValue .totalValue sup {
  font-size: 14px;
}
.Facility-perofrmance .facility-performanceCharts .facility-viewing .calendar .secondweek .titleday, .Facility-perofrmance .facility-performanceCharts .facility-viewing .calendar .thirdweek .titleday, .Facility-perofrmance .facility-performanceCharts .facility-viewing .calendar .fourthweek .titleday, .Facility-perofrmance .facility-performanceCharts .facility-viewing .calendar .fifthweek .titleday {
  display: none;
}

/*# sourceMappingURL=style.css.map */
