/* screen - equipment-area5 */

.equipment-area5 {
  background-color: var(--white);
  height: 812px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.equipment-area5 .add-lighting-C61RwL {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 59px;
  white-space: nowrap;
  width: auto;
}
.equipment-area5 .ellipse-10-C61RwL {
  background-color: transparent;
  border-radius: 7px;
  height: 14px;
  left: 217px;
  position: absolute;
  top: 277px;
  width: 14px;
}
.equipment-area5 .ellipse-11-C61RwL {
  background-color: transparent;
  border-radius: 7px;
  height: 14px;
  left: 92px;
  position: absolute;
  top: 152px;
  width: 14px;
}
.equipment-area5 .ellipse-12-C61RwL {
  background-color: transparent;
  border-radius: 7px;
  height: 14px;
  left: 208px;
  position: absolute;
  top: 152px;
  width: 14px;
}
.equipment-area5 .ellipse-13-C61RwL {
  background-color: transparent;
  border-radius: 7px;
  cursor: pointer;
  height: 14px;
  left: 100px;
  position: absolute;
  top: 362px;
  width: 14px;
}
.equipment-area5 .ellipse-14-C61RwL {
  background-color: transparent;
  border-radius: 7px;
  height: 14px;
  left: 216px;
  position: absolute;
  top: 362px;
  width: 14px;
}
.equipment-area5 .ellipse-15-C61RwL {
  background-color: var(--cerulean-frost);
  border-radius: 5px;
  height: 10px;
  left: 219px;
  mix-blend-mode: normal;
  position: absolute;
  top: 245px;
  width: 10px;
}
.equipment-area5 .ellipse-16-C61RwL {
  background-color: var(--cerulean-frost);
  border-radius: 5px;
  height: 10px;
  left: 94px;
  mix-blend-mode: normal;
  position: absolute;
  top: 154px;
  width: 10px;
}
.equipment-area5 .ellipse-7-C61RwL {
  background-color: transparent;
  border-radius: 7px;
  height: 14px;
  left: 82px;
  position: absolute;
  top: 243px;
  width: 14px;
}
.equipment-area5 .ellipse-8-C61RwL {
  background-color: transparent;
  border-radius: 7px;
  height: 14px;
  left: 217px;
  position: absolute;
  top: 243px;
  width: 14px;
}
.equipment-area5 .ellipse-9-C61RwL {
  background-color: transparent;
  border-radius: 7px;
  height: 14px;
  left: 82px;
  position: absolute;
  top: 277px;
  width: 14px;
}
.equipment-area5 .group-6900-C61RwL {
  background-color: transparent;
  height: 12px;
  left: 322px;
  position: absolute;
  top: 59px;
  width: 23px;
}
.equipment-area5 .highbay-C61RwL {
  background-color: transparent;
  height: auto;
  left: 109px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 278px;
  white-space: nowrap;
  width: auto;
}
.equipment-area5 .indoor-C61RwL {
  background-color: transparent;
  height: auto;
  left: 112px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 153px;
  white-space: nowrap;
  width: auto;
}
.equipment-area5 .linear-C61RwL {
  background-color: transparent;
  height: auto;
  left: 244px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 244px;
  white-space: nowrap;
  width: auto;
}
.equipment-area5 .outdoor-C61RwL {
  background-color: transparent;
  height: auto;
  left: 228px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 153px;
  white-space: nowrap;
  width: auto;
}
.equipment-area5 .placement-C61RwL {
  background-color: transparent;
  height: auto;
  left: 143px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 120px;
  white-space: nowrap;
  width: auto;
}
.equipment-area5 .potlight-C61RwL {
  background-color: transparent;
  height: auto;
  left: 244px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 277px;
  white-space: nowrap;
  width: auto;
}
.equipment-area5 .rectangle-2829-C61RwL {
  background-color: transparent;
  border-radius: 8px;
  height: 86px;
  left: 29px;
  position: absolute;
  top: 100px;
  width: 316px;
}
.equipment-area5 .rectangle-2830-C61RwL {
  background-color: transparent;
  border-radius: 8px;
  height: 114px;
  left: 29px;
  position: absolute;
  top: 194px;
  width: 316px;
}
.equipment-area5 .rectangle-2831-C61RwL {
  background-color: transparent;
  border-radius: 8px;
  height: 74px;
  left: 29px;
  position: absolute;
  top: 316px;
  width: 316px;
}
.equipment-area5 .size-C61RwL {
  background-color: transparent;
  height: auto;
  left: 170px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 330px;
  white-space: nowrap;
  width: auto;
}
.equipment-area5 .troffer-C61RwL {
  background-color: transparent;
  height: auto;
  left: 109px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 244px;
  white-space: nowrap;
  width: auto;
}
.equipment-area5 .type-C61RwL {
  background-color: transparent;
  height: auto;
  left: 166px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 211px;
  white-space: nowrap;
  width: auto;
}
.equipment-area5 .vector-88-lrkHPC {
  background-color: transparent;
  height: 2px;
  left: 10px;
  position: absolute;
  top: -1px;
  width: 14px;
}
.equipment-area5 .vector-89-lrkHPC {
  background-color: transparent;
  height: 2px;
  left: -1px;
  position: absolute;
  top: 5px;
  width: 25px;
}
.equipment-area5 .vector-90-lrkHPC {
  background-color: transparent;
  height: 2px;
  left: -1px;
  position: absolute;
  top: 11px;
  width: 14px;
}
.equipment-area5 .x4-ft-C61RwL {
  background-color: transparent;
  height: auto;
  left: 120px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 363px;
  white-space: nowrap;
  width: auto;
}
.equipment-area5 .x8-ft-C61RwL {
  background-color: transparent;
  height: auto;
  left: 236px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 363px;
  white-space: nowrap;
  width: auto;
}
