/* screen - frame-1 */

.frame-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-height: 694px;
  padding: 35.2px 0;
  width: 0px;
  position: absolute;
  left: 35%;
  bottom: 10%;
  overflow: hidden;
  transition: 0.5s;
}

.frame-1 .group-8007 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 53px;
  width: 660px;
}

.frame-1 .flex-row {
  align-items: center;
  display: flex;
  min-width: 658px;
}

.frame-1 .x2x4-troffer-stats {
  letter-spacing: 0;
  line-height: 29.0px;
  margin-bottom: 0.15px;
  min-height: 29px;
  min-width: 263px;
  white-space: nowrap;
}

.frame-1 .cancel {
  height: 30px;
  margin-left: 366px;
  width: 29px;
}

.frame-1 .rectangle-4473 {
  background-color: var(--gallery-2);
  height: 1px;
  margin-left: 2px;
  margin-top: 23px;
  width: 656px;
}

.frame-1 .overlap-group-container {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: 44px;
  margin-top: 11px;
  min-width: 164px;
}

.frame-1 .overlap-group2 {
  align-items: flex-start;
  border-radius: 6px;
  display: flex;
  height: 21px;
  min-width: 76px;
  padding: 2px 21px;
}

.frame-1 .about {
  letter-spacing: 0;
  line-height: 15px;
  min-height: 15px;
  min-width: 32px;
  text-align: center;
  white-space: nowrap;
}

.frame-1 .overlap-group3 {
  align-items: center;
  background-color: var(--gulf-blue);
  border-radius: 6px;
  display: flex;
  height: 21px;
  margin-left: 10px;
  min-width: 76px;
  padding: 0 25px;
}

.frame-1 .stats {
  letter-spacing: 0;
  line-height: 15px;
  min-height: 15px;
  min-width: 26px;
  text-align: center;
  white-space: nowrap;
}

.frame-1 .overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  height: 521px;
  margin-left: 2.0px;
  margin-top: 12px;
  min-width: 658px;
}

.frame-1 .overlap-group {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 10px #63636326;
  display: flex;
  flex-direction: column;
  min-height: 521px;
  padding: 21px 0;
  width: 301px;
}

.frame-1 .overview {
  align-self: flex-start;
  letter-spacing: 1.00px;
  line-height: 20px;
  margin-left: 22px;
  min-height: 20px;
  white-space: nowrap;
}

.frame-1 .rectangle-505 {
  background-color: var(--gallery);
  height: 1px;
  margin-top: 12px;
  width: 257px;
}

.frame-1 .group-8013 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 4.0px;
  margin-top: 35px;
  min-height: 83px;
  width: 203px;
}

.frame-1 .avg-times-on-month {
  letter-spacing: 1.00px;
  line-height: 20px;
  margin-right: 4.0px;
  min-height: 20px;
  min-width: 199px;
  text-align: center;
  white-space: nowrap;
}

.frame-1 .title {
  letter-spacing: 1.00px;
  line-height: 28px;
  margin-right: 4.0px;
  margin-top: 11px;
  min-height: 28px;
  min-width: 61px;
  text-align: center;
  white-space: nowrap;
}

.frame-1 .rectangle-5051 {
  background-color: var(--gallery);
  height: 1px;
  margin-right: 4.0px;
  margin-top: 23px;
  width: 95px;
}

.frame-1 .group-8014 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 5.0px;
  margin-top: 23px;
  min-height: 83px;
  width: 122px;
}

.frame-1 .avg-run-time {
  letter-spacing: 1.00px;
  line-height: 20px;
  margin-right: 4.0px;
  min-height: 20px;
  min-width: 118px;
  text-align: center;
  white-space: nowrap;
}

.frame-1 .x6h-22m {
  letter-spacing: 1.00px;
  line-height: 28px;
  margin-right: 4.0px;
  margin-top: 11px;
  min-height: 28px;
  min-width: 104px;
  text-align: center;
  white-space: nowrap;
}

.frame-1 .span-1 {
  letter-spacing: 0.38px;
}

.frame-1 .span-2 {
  letter-spacing: 0.18px;
}

.frame-1 .rectangle-5052 {
  background-color: var(--gallery);
  height: 1px;
  margin-right: 5.0px;
  margin-top: 23px;
  width: 95px;
}

.frame-1 .group-8015 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 6.0px;
  margin-top: 23px;
  min-height: 83px;
  width: 197px;
}

.frame-1 .avg-hours-per-month {
  letter-spacing: 1.00px;
  line-height: 20px;
  margin-right: 4.0px;
  min-height: 20px;
  min-width: 193px;
  text-align: center;
  white-space: nowrap;
}

.frame-1 .x1812h {
  letter-spacing: 1.00px;
  line-height: 28px;
  margin-right: 6.0px;
  margin-top: 11px;
  min-height: 28px;
  min-width: 99px;
  text-align: center;
  white-space: nowrap;
}

.frame-1 .rectangle-5053 {
  background-color: var(--gallery);
  height: 1px;
  margin-right: 6.0px;
  margin-top: 23px;
  width: 95px;
}

.frame-1 .group-8016 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 5.0px;
  margin-top: 23px;
  min-height: 79px;
  width: 206px;
}

.frame-1 .avg-of-total-energy-used {
  letter-spacing: 1.00px;
  line-height: 20px;
  margin-right: 4.0px;
  min-height: 40px;
  text-align: center;
  width: 202px;
}

.frame-1 .percent {
  letter-spacing: 1.00px;
  line-height: 28px;
  margin-right: 4.0px;
  margin-top: 11px;
  min-height: 28px;
  min-width: 66px;
  text-align: center;
  white-space: nowrap;
}

.frame-1 .overlap-group1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 10px #63636326;
  display: flex;
  flex-direction: column;
  margin-left: 54px;
  min-height: 521px;
  padding: 21px 0;
  width: 301px;
}

.frame-1 .place {
  align-self: flex-start;
  letter-spacing: 1.00px;
  line-height: 20px;
  margin-left: 22px;
  min-height: 20px;
  white-space: nowrap;
}

.frame-1 .group-8017 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 3.0px;
  margin-top: 35px;
  min-height: 83px;
  width: 184px;
}

.frame-1 .avg-cost-per-month {
  letter-spacing: 1.00px;
  line-height: 20px;
  margin-right: 4.0px;
  min-height: 20px;
  min-width: 180px;
  text-align: center;
  white-space: nowrap;
}

.frame-1 .price {
  letter-spacing: 1.00px;
  line-height: 28px;
  margin-right: 3.0px;
  margin-top: 11px;
  min-height: 28px;
  min-width: 105px;
  text-align: center;
  white-space: nowrap;
}

.frame-1 .rectangle-5051-1 {
  background-color: var(--gallery);
  height: 1px;
  margin-right: 3.0px;
  margin-top: 23px;
  width: 95px;
}

.frame-1 .group-8018 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 5.0px;
  margin-top: 23px;
  min-height: 83px;
  width: 164px;
}

.frame-1 .est-k-wh-month {
  letter-spacing: 1.00px;
  line-height: 20px;
  margin-right: 4.0px;
  min-height: 20px;
  min-width: 160px;
  text-align: center;
  white-space: nowrap;
}

.frame-1 .x298k-wh {
  letter-spacing: 1.00px;
  line-height: 28px;
  margin-right: 4.0px;
  margin-top: 11px;
  min-height: 28px;
  min-width: 108px;
  text-align: center;
  white-space: nowrap;
}

.frame-1 .group-8020 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 6.0px;
  margin-top: 23px;
  min-height: 83px;
  width: 165px;
}

.frame-1 .est-cost-per-year {
  letter-spacing: 1.00px;
  line-height: 20px;
  margin-right: 4.0px;
  min-height: 20px;
  min-width: 161px;
  text-align: center;
  white-space: nowrap;
}

.frame-1 .price-1 {
  letter-spacing: 1.00px;
  line-height: 28px;
  margin-right: 6.0px;
  margin-top: 11px;
  min-height: 28px;
  min-width: 129px;
  text-align: center;
  white-space: nowrap;
}

.frame-1 .group-8019 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 5.0px;
  margin-top: 23px;
  min-height: 59px;
  width: 206px;
}

.frame-1 .est-k-wh-year {
  letter-spacing: 1.00px;
  line-height: 20px;
  margin-right: 4.0px;
  min-height: 20px;
  text-align: center;
  white-space: nowrap;
  width: 202px;
}

.frame-1 .x3455k-wh {
  letter-spacing: 1.00px;
  line-height: 28px;
  margin-right: 4.0px;
  margin-top: 11px;
  min-height: 28px;
  min-width: 138px;
  text-align: center;
  white-space: nowrap;
}
