/* screen - inventory-appliances-usage */

.inventory-appliances-usage {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 812px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  padding: 48px 21px;
  position: relative;
  width: 375px;
}
.inventory-appliances-usage .air-conditioner-dFxdHa {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17.4px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 97px;
}
.inventory-appliances-usage .air-conditioner-lQc3YC {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17.4px;
  min-height: 18px;
  min-width: 96px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .appliances-usage-ht0xwR {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-bottom: 0.0px;
  margin-left: 58px;
  min-height: 20px;
  min-width: 170px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .chevron-left-ht0xwR {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 5.0px 8px;
  position: relative;
  width: 24px;
}
.inventory-appliances-usage .coffee-machine-bZrBmM {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17.4px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 100px;
}
.inventory-appliances-usage .computer-R1M6Zi {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17.4px;
  min-height: 18px;
  min-width: 64px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .cooker-L1jTL0 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17.4px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 47px;
}
.inventory-appliances-usage .fan-a5kNEa {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17.4px;
  min-height: 18px;
  min-width: 25px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .freezer-QCAtP4 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17.4px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 48px;
}
.inventory-appliances-usage .group-6883-C61RwL {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  min-width: 252px;
  position: relative;
  width: auto;
}
.inventory-appliances-usage .group-6901-GML0ip {
  align-items: center;
  align-self: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  margin-right: 13.03px;
  margin-top: 16px;
  min-width: 233px;
  position: relative;
  width: auto;
}
.inventory-appliances-usage .group-6901-Xk2MQo {
  align-items: center;
  align-self: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 18px;
  justify-content: flex-start;
  margin-right: 5.41px;
  margin-top: 16px;
  min-width: 233px;
  position: relative;
  width: auto;
}
.inventory-appliances-usage .group-6902-GML0ip {
  align-items: center;
  align-self: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  margin-left: 4.38px;
  margin-top: 16px;
  min-width: 250px;
  position: relative;
  width: auto;
}
.inventory-appliances-usage .group-6902-Xk2MQo {
  align-items: center;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 18px;
  justify-content: flex-start;
  margin-right: -2.0px;
  margin-top: 15px;
  min-width: 250px;
  position: relative;
  width: auto;
}
.inventory-appliances-usage .group-6903-GML0ip {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 16px;
  min-width: 218px;
  position: relative;
  width: auto;
}
.inventory-appliances-usage .group-6903-Xk2MQo {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 18px;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 15px;
  min-width: 218px;
  position: relative;
  width: auto;
}
.inventory-appliances-usage .group-6904-GML0ip {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 16px;
  min-width: 211px;
  position: relative;
  width: auto;
}
.inventory-appliances-usage .group-6904-Xk2MQo {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 18px;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 15px;
  min-width: 211px;
  position: relative;
  width: auto;
}
.inventory-appliances-usage .group-6905-GML0ip {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 16px;
  min-width: 173px;
  position: relative;
  width: auto;
}
.inventory-appliances-usage .group-6905-Xk2MQo {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 18px;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 15px;
  min-width: 173px;
  position: relative;
  width: auto;
}
.inventory-appliances-usage .group-6906-GML0ip {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 16px;
  min-width: 184px;
  position: relative;
  width: auto;
}
.inventory-appliances-usage .group-6906-Xk2MQo {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 18px;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 15px;
  min-width: 184px;
  position: relative;
  width: auto;
}
.inventory-appliances-usage .group-6907-GML0ip {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 16px;
  min-width: 145px;
  position: relative;
  width: auto;
}
.inventory-appliances-usage .group-6907-Xk2MQo {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 18px;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 15px;
  min-width: 145px;
  position: relative;
  width: auto;
}
.inventory-appliances-usage .group-6917-GML0ip {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 16px;
  min-width: 159px;
  position: relative;
  width: auto;
}
.inventory-appliances-usage .group-6917-Xk2MQo {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 18px;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 15px;
  min-width: 159px;
  position: relative;
  width: auto;
}
.inventory-appliances-usage .group-6918-GML0ip {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 16px;
  min-width: 173px;
  position: relative;
  width: auto;
}
.inventory-appliances-usage .group-6919-GML0ip {
  align-items: center;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  margin-right: -2px;
  margin-top: 16px;
  min-width: 258px;
  position: relative;
  width: auto;
}
.inventory-appliances-usage .group-6920-GML0ip {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 17px;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 16px;
  min-width: 218px;
  position: relative;
  width: auto;
}
.inventory-appliances-usage .heater-aqlrbx {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17.4px;
  min-height: 18px;
  min-width: 44px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .humidifier-7SN5HU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17.4px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 67px;
}
.inventory-appliances-usage .iron-1Xr9sO {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17.4px;
  min-height: 18px;
  min-width: 27px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .kettle-Opqd5n {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17.4px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 39px;
}
.inventory-appliances-usage .kitchen-GML0ip {
  background-color: transparent;
  color: var(--shadow-blue);
  flex-shrink: 1;
  font-family: 'Averta CY-Semibold', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 18px;
  min-height: 18px;
  min-width: 52px;
  opacity: 0.8;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .living-room-Xk2MQo {
  background-color: transparent;
  color: var(--shadow-blue);
  flex-shrink: 1;
  font-family: 'Averta CY-Semibold', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 18px;
  min-height: 18px;
  min-width: 85px;
  opacity: 0.8;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .microwave-kuvuUV {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17.4px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 68px;
}
.inventory-appliances-usage .overlap-group-gpbA7h {
  background-color: transparent;
  flex-shrink: 1;
  height: 15px;
  margin-left: 39px;
  margin-top: 0.0px;
  position: relative;
  width: 113px;
}
.inventory-appliances-usage .overlap-group-lQc3YC {
  background-color: transparent;
  flex-shrink: 1;
  height: 15px;
  margin-bottom: 0.59px;
  margin-left: 19px;
  position: relative;
  width: 113px;
}
.inventory-appliances-usage .overlap-group1-AIqPWW {
  background-color: transparent;
  flex-shrink: 1;
  height: 15px;
  margin-bottom: 0.59px;
  margin-left: 11px;
  position: relative;
  width: 131px;
}
.inventory-appliances-usage .overlap-group1-kuvuUV {
  background-color: transparent;
  flex-shrink: 1;
  height: 15px;
  margin-left: 47px;
  margin-top: 0.0px;
  position: relative;
  width: 131px;
}
.inventory-appliances-usage .overlap-group10-L1jTL0 {
  background-color: transparent;
  flex-shrink: 1;
  height: 15px;
  margin-left: 69px;
  margin-top: 0.0px;
  position: relative;
  width: 98px;
}
.inventory-appliances-usage .overlap-group2-QCAtP4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 15px;
  margin-left: 68px;
  margin-top: 0.0px;
  position: relative;
  width: 98px;
}
.inventory-appliances-usage .overlap-group2-aqlrbx {
  background-color: transparent;
  flex-shrink: 1;
  height: 15px;
  margin-bottom: 0.59px;
  margin-left: 71px;
  position: relative;
  width: 98px;
}
.inventory-appliances-usage .overlap-group3-GHcTyE {
  background-color: transparent;
  flex-shrink: 1;
  height: 15px;
  margin-bottom: 0.0px;
  margin-left: 80px;
  position: relative;
  width: 91px;
}
.inventory-appliances-usage .overlap-group3-R1M6Zi {
  background-color: transparent;
  flex-shrink: 1;
  height: 15px;
  margin-bottom: 0.59px;
  margin-left: 51px;
  position: relative;
  width: 91px;
}
.inventory-appliances-usage .overlap-group4-a5kNEa {
  background-color: transparent;
  flex-shrink: 1;
  height: 15px;
  margin-bottom: 0.59px;
  margin-left: 90px;
  position: relative;
  width: 53px;
}
.inventory-appliances-usage .overlap-group4-bZrBmM {
  background-color: transparent;
  flex-shrink: 1;
  height: 15px;
  margin-bottom: 0.0px;
  margin-left: 15px;
  position: relative;
  width: 53px;
}
.inventory-appliances-usage .overlap-group5-BU3y2N {
  background-color: transparent;
  flex-shrink: 1;
  height: 15px;
  margin-bottom: 0.59px;
  margin-left: 57px;
  position: relative;
  width: 64px;
}
.inventory-appliances-usage .overlap-group5-XWoSrI {
  background-color: transparent;
  flex-shrink: 1;
  height: 15px;
  margin-left: 75px;
  margin-top: 0.0px;
  position: relative;
  width: 64px;
}
.inventory-appliances-usage .overlap-group6-Y0Prxl {
  background-color: transparent;
  flex-shrink: 1;
  height: 15px;
  margin-left: 68px;
  margin-top: 0.0px;
  position: relative;
  width: 25px;
}
.inventory-appliances-usage .overlap-group6-wcVwCY {
  background-color: transparent;
  flex-shrink: 1;
  height: 15px;
  margin-bottom: 0.59px;
  margin-left: 49px;
  position: relative;
  width: 25px;
}
.inventory-appliances-usage .overlap-group7-1Xr9sO {
  background-color: transparent;
  flex-shrink: 1;
  height: 15px;
  margin-bottom: 0.59px;
  margin-left: 88px;
  position: relative;
  width: 39px;
}
.inventory-appliances-usage .overlap-group7-Opqd5n {
  background-color: transparent;
  flex-shrink: 1;
  height: 15px;
  margin-left: 76px;
  margin-top: 0.0px;
  position: relative;
  width: 39px;
}
.inventory-appliances-usage .overlap-group8-7SN5HU {
  background-color: transparent;
  flex-shrink: 1;
  height: 15px;
  margin-left: 48px;
  margin-top: 0.0px;
  position: relative;
  width: 53px;
}
.inventory-appliances-usage .overlap-group9-dFxdHa {
  background-color: transparent;
  flex-shrink: 1;
  height: 15px;
  margin-left: 19px;
  margin-top: 0.0px;
  position: relative;
  width: 138px;
}
.inventory-appliances-usage .rectangle-2350-CCCqlQ {
  background-color: var(--violet-blue);
  border-radius: 4.353414058685303px;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 131px;
}
.inventory-appliances-usage .rectangle-2350-Cx5tNs {
  background-color: var(--violet-blue);
  border-radius: 4.353414058685303px;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 98px;
}
.inventory-appliances-usage .rectangle-2350-FRdfvl {
  background-color: var(--violet-blue);
  border-radius: 4.353414058685303px;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 91px;
}
.inventory-appliances-usage .rectangle-2350-NOyNBQ {
  background-color: var(--violet-blue);
  border-radius: 4.353414058685303px;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 113px;
}
.inventory-appliances-usage .rectangle-2350-Ox9J5q {
  background-color: var(--violet-blue);
  border-radius: 4.353414058685303px;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 39px;
}
.inventory-appliances-usage .rectangle-2350-P6CdT0 {
  background-color: var(--violet-blue);
  border-radius: 4.353414058685303px;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 25px;
}
.inventory-appliances-usage .rectangle-2350-RPxuet {
  background-color: var(--violet-blue);
  border-radius: 4.353414058685303px;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 64px;
}
.inventory-appliances-usage .rectangle-2350-XemV7o {
  background-color: var(--violet-blue);
  border-radius: 4.353414058685303px;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 53px;
}
.inventory-appliances-usage .rectangle-2350-b3ec5c {
  background-color: var(--violet-blue);
  border-radius: 4.353414058685303px;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 25px;
}
.inventory-appliances-usage .rectangle-2350-dW7aSi {
  background-color: var(--violet-blue);
  border-radius: 4.353414058685303px;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 113px;
}
.inventory-appliances-usage .rectangle-2350-hHGvmS {
  background-color: var(--violet-blue);
  border-radius: 4.353414058685303px;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 64px;
}
.inventory-appliances-usage .rectangle-2350-jDI4JC {
  background-color: var(--violet-blue);
  border-radius: 4.353414058685303px;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 98px;
}
.inventory-appliances-usage .rectangle-2350-jsEBQS {
  background-color: var(--violet-blue);
  border-radius: 4.353414058685303px;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 131px;
}
.inventory-appliances-usage .rectangle-2350-leie9g {
  background-color: var(--violet-blue);
  border-radius: 4.353414058685303px;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 53px;
}
.inventory-appliances-usage .rectangle-2350-sP45Hs {
  background-color: var(--violet-blue);
  border-radius: 4.353414058685303px;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 138px;
}
.inventory-appliances-usage .rectangle-2350-sUdbP2 {
  background-color: var(--violet-blue);
  border-radius: 4.353414058685303px;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 98px;
}
.inventory-appliances-usage .rectangle-2350-tWviqQ {
  background-color: var(--violet-blue);
  border-radius: 4.353414058685303px;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 39px;
}
.inventory-appliances-usage .rectangle-2350-y3PStb {
  background-color: var(--violet-blue);
  border-radius: 4.353414058685303px;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 91px;
}
.inventory-appliances-usage .rectangle-2350-ze0r3k {
  background-color: var(--violet-blue);
  border-radius: 4.353414058685303px;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 53px;
}
.inventory-appliances-usage .refrigerator-gpbA7h {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17.4px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 76px;
}
.inventory-appliances-usage .speakers-BU3y2N {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17.4px;
  min-height: 18px;
  min-width: 58px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .stove-GHcTyE {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17.4px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 36px;
}
.inventory-appliances-usage .telephone-wcVwCY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17.4px;
  min-height: 18px;
  min-width: 66px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .toaster-Y0Prxl {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17.4px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 48px;
}
.inventory-appliances-usage .vacuum-cleaner-AIqPWW {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17.4px;
  min-height: 18px;
  min-width: 104px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .vector-DxLbh3 {
  background-color: transparent;
  flex-shrink: 1;
  height: 14px;
  position: relative;
  width: 8px;
}
.inventory-appliances-usage .whisk-XWoSrI {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17.4px;
  min-height: 17px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 40px;
}
.inventory-appliances-usage .x1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 9px;
  margin-top: 33px;
  min-height: 386px;
  position: relative;
  width: 266px;
}
.inventory-appliances-usage .x10-FRdfvl {
  background-color: transparent;
  height: auto;
  left: 65px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .x10-y3PStb {
  background-color: transparent;
  height: auto;
  left: 65px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .x11-Cx5tNs {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .x11-jDI4JC {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .x11-sUdbP2 {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .x12-NOyNBQ {
  background-color: transparent;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .x12-dW7aSi {
  background-color: transparent;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .x13-CCCqlQ {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .x13-jsEBQS {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .x14-sP45Hs {
  background-color: transparent;
  height: auto;
  left: 113px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .x2-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 9px;
  margin-top: 45px;
  min-height: 286px;
  position: relative;
  width: 258px;
}
.inventory-appliances-usage .x5-P6CdT0 {
  background-color: transparent;
  height: auto;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .x5-b3ec5c {
  background-color: transparent;
  height: auto;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .x7-Ox9J5q {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .x7-tWviqQ {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .x8-XemV7o {
  background-color: transparent;
  height: auto;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .x8-leie9g {
  background-color: transparent;
  height: auto;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .x8-ze0r3k {
  background-color: transparent;
  height: auto;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .x9-RPxuet {
  background-color: transparent;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
  width: auto;
}
.inventory-appliances-usage .x9-hHGvmS {
  background-color: transparent;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
  width: auto;
}
