{% extends 'mobile_base.html' %}
{% block content %}

<div class="m-2">
    <h4>Constant Use Appliances</h4>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi auctor, enim ac aliquam tincidunt, mauris ipsum pellentesque mi, sit amet commodo lacus sapien eu nulla. Duis luctus finibus ipsum, in iaculis lorem laoreet vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam efficitur, arcu sit amet egestas ullamcorper, ipsum ex malesuada enim, ac pretium purus nisl vitae augue. Integer aliquet ante tellus. </p>
    <br>
    <p>Curabitur sed ipsum at nisi suscipit feugiat. Vestibulum fringilla scelerisque tellus, et varius metus rhoncus a. Mauris et sapien tincidunt, aliquet erat in, tempor ex. Nulla sit amet enim massa. Cras id pharetra est, eu maximus felis. Duis sed lectus ultricies, tincidunt augue vitae, vulputate tellus. Proin leo velit, molestie a ipsum eu, imperdiet vulputate est. Nam sollicitudin molestie commodo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce sit amet mi ultricies, varius mi et, maximus ex. Mauris magna dolor, ornare vel odio non, viverra accumsan nulla. Etiam tempor leo consequat, ultricies dui vel, dictum odio.</p>
    <br>
    <p>Curabitur ut nibh vehicula, faucibus erat ac, interdum nunc. In gravida turpis ipsum, in finibus tellus luctus ac. In in sagittis leo. Nunc vulputate placerat purus in ullamcorper. Nulla nec libero sollicitudin, sodales turpis sed, suscipit dui. Etiam dignissim neque id eros pharetra pulvinar. Nam in orci eu quam tempus pretium. Nam sed mauris mi. In non velit justo. Vestibulum at tincidunt turpis. Phasellus ut ante lacus. Ut mi massa, aliquam id dignissim ut, feugiat sit amet massa. Duis quis arcu pretium lacus volutpat mattis consequat aliquam massa. Fusce feugiat eleifend nisl quis efficitur.</p>
</div>
{% endblock content %}